<div class="landing-header-fill"></div>
<header class="landing-header purple-bg">
  <div class="left-side">
    <div class="nav-icon" (click)="onViewSideBar();" *ngIf="showsidebar">
      <div id="nav-icon3" [class.open]="!viewSideBar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <span>
      <a class="header-menu" ><i class="fa fa-home text-white fs-16 mr-3"></i> </a>
    </span>
    <span>
      <a class="header-menu-2" ><i class="fa fa-th text-white fs-16"></i></a>
    </span>
  </div>
  <div class="right-side" *ngIf="showsidebar">
    <div class="landing-menu" (click)="openMenu()" (clickOutside)="handleClickOutside()">
      <div class="landing-pic"></div>
      <div *ngIf="headerMenu" class="landing-dropdown">
        <ul>
          <li><a routerLinkActive="active">My Profile</a></li>
          <li *ngIf="showtabs" (click)="onChangePassword()"><a routerLinkActive="active">Change Password</a></li>
          <li (click)="onLogOut()"><a routerLinkActive="active">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div *ngIf="showsidebar">
  <app-landing-sidebar [class.open]="!viewSideBar" [sidebarItems]="menuData"> </app-landing-sidebar>
</div>