<div class="custom-tab-01" *ngIf="!completed">

    <!-- Show files Pop up-->
    <ng-template #shoeFiles let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> {{'buttonsLabel.files' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body custom-modal-main">
            <section class=" bg-white " style="min-height: 300px !important;">
                <ng-container *ngIf="filesList.length != 0; else fileListTemplate">
                    <div class="dark-text-1">
                        Added File Names
                    </div>
                    <ul *ngFor="let item of filesList" style="background-color: white !important;">
                        <li style="list-style-type: disc !important;">
                            <span>{{item.name}}</span>
                        </li>
                        <hr>
                    </ul>
                </ng-container>
                <ng-template #fileListTemplate>
                    {{'buttonsLabel.noFilesAdded' | translate }}
                </ng-template>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="button"
                (click)="modal.close('Save click')">{{'buttonsLabel.done' | translate }}</button>
        </div>
    </ng-template>

    <mat-horizontal-stepper [@.disabled]="true" #stepper>
        <!-- General Info -->
        <mat-step>
            <ng-template matStepLabel>{{'registarationStepperNames.generalInfo' | translate }}</ng-template>
            <ng-container *ngIf="generalInfo">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12 px-4 pb-2 ">
                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                            matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.generalInfo.cRNumber' | translate }}</h5>
                        <p class="fs-14">{{ generalInfo.companyInfo }}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.generalInfo.arabicName' | translate }}</h5>
                        <p class="fs-14 px-4">آر بالا</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.generalInfo.englishName' | translate }}</h5>
                        <p class="fs-14">{{ generalInfo.englishName }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <h4 class="dark-grey-bg px-4 py-2 fs-16 font-weight-bold mb-3 dark-text-1  ">
                            <i class="fa fa-ban text-red fs-14" mat-raised-button
                                matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i> 
                                {{'individualRegistration.generalInfo.companyInfo' | translate }}
                        </h4>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1">{{'individualRegistration.generalInfo.companyName' | translate }}</h5>
                        <p class="fs-14">{{ generalInfo.companyInfo }}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1">{{'individualRegistration.generalInfo.companyCRNumber' | translate }}</h5>
                        <p class="fs-14">{{ generalInfo.companyInfo }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 px-4 mb-3 mt-3">
                        <div class="table-responsive">

                            <input class="fs-16 custom-height-35 mb-2" [(ngModel)]="searchText"
                                placeholder="Search text">
                            <table class="table table-striped ">
                                <thead>
                                    <tr class="purple-bg text-white">
                                        <th scope="col"></th>
                                        <th scope="col">{{'individualRegistration.generalInfo.addressID' | translate }}</th>
                                        <th scope="col">{{'individualRegistration.generalInfo.addressLine1' | translate }}</th>
                                        <th scope="col">{{'individualRegistration.generalInfo.addressLine2' | translate }}</th>
                                        <th scope="col">{{'individualRegistration.generalInfo.language' | translate }}</th>
                                        <th scope="col">{{'individualRegistration.generalInfo.country' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of allAddresses | filter : searchText; index as index">
                                        <td *ngIf="data.isMoci">
                                            <i class="fa fa-ban text-red fs-14" mat-raised-button
                                                matTooltip="Data fetched from interface - not editable"
                                                aria-hidden="true"></i>
                                        </td>
                                        <td *ngIf="!data.isMoci"></td>
                                        <td>{{index + 1}}</td>
                                        <td>{{data.addressLine1}}</td>
                                        <td>{{data.addressLine2}}</td>
                                        <td>{{data.language}}</td>
                                        <td>{{data.country}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 px-4">
                        <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                        <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-5 px-4">
                        <button type="button"
                            class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                            [disabled]='!showBtn' [disabled]="true"><i class="fa fa-caret-left"></i> {{'buttonsLabel.previous' | translate }}</button>
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                            [disabled]='!showBtn' matStepperNext>{{'buttonsLabel.next' | translate }}
                            <i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
            </ng-container>
        </mat-step>
        <!-- Personal Details -->
        <mat-step>
            <ng-template matStepLabel>{{'registarationStepperNames.personalDetails' | translate }}</ng-template>

            <div class="row">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">

                        <input class="fs-16 custom-height-35 mb-2" [(ngModel)]="searchText" placeholder="Search text">
                        <table class="table table-striped ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th scope="col"> </th>
                                    <th scope="col" (click)="sorting('personal','nationality')">{{'individualRegistration.personalDetails.nationality' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','idtype')">{{'individualRegistration.personalDetails.iDType' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','designation')">{{'individualRegistration.personalDetails.designation' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','age')">{{'individualRegistration.personalDetails.age' | translate }} <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','dob')">{{'individualRegistration.personalDetails.dob' | translate }} <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','members')">{{'individualRegistration.personalDetails.numberOfFamilyMembers' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','socialStatus')">{{'individualRegistration.personalDetails.socialStatus' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','familySecurity')">{{'individualRegistration.personalDetails.familyOfSocialSecurity' | translate }}
                                         <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col">{{'individualRegistration.personalDetails.documentAttachment' | translate }} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of personalData | filter : searchText; index as index">
                                    <td *ngIf="data.isMoci">
                                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                                            matTooltip="Data fetched from interface - not editable"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci"></td>
                                    <td>{{data.nationality}}</td>
                                    <td>{{data.idtype}}</td>
                                    <td>{{data.designation}}</td>
                                    <td>{{data.age}} </td>
                                    <td>{{data.dob}}</td>
                                    <td>{{data.members}}</td>
                                    <td>{{data.socialStatus}}</td>
                                    <td>{{data.familySecurity}}</td>
                                    <td>
                                        <i class="fa fa-folder-open" aria-hidden="true"
                                            (click)="openFile(shoeFiles,'personal',data,data.isMoci)"></i>
                                        <input type="file" #fileInput id="fileUpload" name="fileUpload"
                                            multiple="multiple" style="display: none;" />
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" [disabled]='!showBtn'
                        matStepperPrevious><i class="fa fa-caret-left"></i> {{'buttonsLabel.previous' | translate }}</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        [disabled]='!showBtn' matStepperNext>{{'buttonsLabel.next' | translate }} <i class="fa fa-caret-right"></i></button>
                </div>
            </div>

        </mat-step>
        <!-- Communication Methods -->
        <mat-step>
            <ng-template matStepLabel>{{'registarationStepperNames.communicationMethod' | translate }}</ng-template>
            <ng-container *ngIf="communicationData">

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-12 px-4 pb-2 ">
                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                            matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.communicationMethod.telephone' | translate }}</h5>
                        <p class="fs-14">{{communicationData.telephone || '-'}}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.communicationMethod.pOBox' | translate }}</h5>
                        <p class="fs-14">{{communicationData.poBox || '-'}}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.communicationMethod.fax' | translate }}</h5>
                        <p class="fs-14">{{communicationData.fax || '-'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.communicationMethod.legalStatus' | translate }}</h5>
                        <p class="fs-14">{{communicationData.legalStatus || '-'}}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.communicationMethod.pC' | translate }}</h5>
                        <p class="fs-14">{{communicationData.pc || '-'}}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.communicationMethod.email' | translate }}</h5>
                        <p class="fs-14">{{communicationData.email || '-'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 px-4">
                        <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                        <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                    </div>
                </div>

            </ng-container>

            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" matStepperPrevious
                        [disabled]='!showBtn'><i class="fa fa-caret-left"></i> {{'buttonsLabel.previous' | translate }}</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" matStepperNext
                        [disabled]='!showBtn'>{{'buttonsLabel.next' | translate }}
                        <i class="fa fa-caret-right"></i></button>
                </div>
            </div>
        </mat-step>
        <!-- Commercial Info -->
        <mat-step>
            <ng-template matStepLabel>{{'registarationStepperNames.commercialInfo' | translate }}</ng-template>

            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="{{'registarationStepperNames.activityInfo' | translate }}">
                    <ng-container *ngIf="activityData">
                        <div class="row mt-3 mb-5">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.registrationDate' | translate }}</h5>
                                <p class="fs-14">{{activityData.regDate}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.expiryDate' | translate }} </h5>
                                <p class="fs-14">{{activityData.expDate}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.workLocation' | translate }}</h5>
                                <p class="fs-14">{{ activityData.workLocation }}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.activities' | translate }} </h5>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-secondary" id="dropdownBasic1"
                                        ngbDropdownToggle>{{'individualRegistration.commercialInfo.activities' | translate }}</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem
                                            *ngFor="let activity of activityData.activities">{{activity}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 px-4">
                                <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                                <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                [disabled]='!showBtn' matStepperPrevious><i class="fa fa-caret-left"></i>
                                {{'buttonsLabel.previous' | translate }}</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                [disabled]='!showBtn' (click)="changeTab()">{{'buttonsLabel.next' | translate }} <i
                                    class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'registarationStepperNames.bankDetails' | translate }}">
                    <ng-container *ngIf="BankDetails">
                        <div class="shadow p-3 mb-5" *ngFor="let data of BankDetails;index as index;">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12 px-4 pb-2 " *ngIf="data.isMoci">
                                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                                        matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.bankingId' | translate }}</h5>
                                    <p class="fs-14">{{ index + 1}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.bankingIdName' | translate }}</h5>
                                    <p class="fs-14">{{data.bankingIdname}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.bankAccount' | translate }}</h5>
                                    <p class="fs-14">{{data.bankAcc}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.bankName' | translate }}</h5>
                                    <p class="fs-14">{{data.bankName}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.bankBranch' | translate }}</h5>
                                    <p class="fs-14">{{data.bankBranch}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{'individualRegistration.commercialInfo.accountholdername' | translate }}</h5>
                                    <p class="fs-14">{{data.holderName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 px-4">
                                <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                                <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                            </div>
                        </div>
                    </ng-container>

                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                [disabled]='!showBtn' (click)="previousTab()"><i class="fa fa-caret-left"></i>
                                {{'buttonsLabel.previous' | translate }}</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                [disabled]='!showBtn' (click)="changeTab()">{{'buttonsLabel.next' | translate }} <i
                                    class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'registarationStepperNames.otherInfo' | translate }}">
                    <ng-container *ngIf="otherData">
                        <div class="row">
                            <div class="col-md-12 px-4 mb-3 mt-3">
                                <div class="table-responsive">
                                    <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">

                                    <table class="table table-striped mb-0 ">
                                        <thead>
                                            <tr class="purple-bg text-white">
                                                <th></th>
                                                <th scope="col">{{'individualRegistration.commercialInfo.no' | translate }} </th>
                                                <th scope="col" (click)="sorting('other','name')">{{'individualRegistration.commercialInfo.label' | translate }} <i
                                                        class="fa fa-sort" aria-hidden="true"></i></th>
                                                <th scope="col">{{'individualRegistration.commercialInfo.value' | translate }} </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of otherData | filter : searchText; index as index">
                                                <td *ngIf="data.isMoci">
                                                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                                                        matTooltip="Data fetched from interface - not editable"
                                                        aria-hidden="true"></i>
                                                </td>
                                                <td *ngIf="!data.isMoci"></td>
                                                <td>{{index + 1}}</td>
                                                <td>{{data.name}}</td>
                                                <td>{{data.value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 px-4">
                                <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                                <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                [disabled]='!showBtn' (click)="previousTab()"><i class="fa fa-caret-left"></i>
                                {{'buttonsLabel.previous' | translate }}</button>
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                [disabled]="true"> {{'buttonsLabel.next' | translate }} <i class="fa fa-caret-right"></i></button>
                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Home</button>
                            </a>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-step>
    </mat-horizontal-stepper>
</div>