<!-- <div class="login">
  <div class="login-content">
    <div class="servicing-box-container">
      <div class="servicing-box">
        <h2 class="servicing-title">User Login Panel</h2>
        <form [formGroup]="login" (submit)="onLoginSubmit()">
            <app-input-basic label="Email" type="email" [fc]="login.get('email')" placeholder="Plase enter username"
              icon="user">
            </app-input-basic>
            <app-input-basic label="Password" type="password" [fc]="login.get('password')" placeholder="Plase enter password"
              icon="key">
            </app-input-basic>
            <button class="btn btn-primary" [disabled]="!login.valid" type="submit">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div> -->