<div class="">
    <div class="container-fluid px-0 ">
        <div class="row mx-0 ">
            <div class="col-md-12 col-lg-8 col-xl-9 px-0"><img src="assets/images/login-bg.jpg" alt=""
                    class="img-fluid custom-min-vh-100 " /> </div>
            <div
                class="col-md-12 col-lg-4 col-xl-3 px-5 d-flex align-content-center align-items-center h-100  custom-min-vh-100">
                <div class=" h-100 py-3"> 
                    <div class="row">
                        <div class="col-md-12">
                            <img src="assets/images/IFS.jpg" alt="" />
                            <h2 class="fs-24 text-dark-grey mb-1 mt-3 pb-0 ">Reset Password</h2>
                        </div>
                    </div>
                    <form class=""  [formGroup]="form" (ngSubmit)="resetPassword()">
                        <div class="row mb-3">
                            <!--email-->
                            <div class="col-md-12 mb-4">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" class="form-control fs-14"  id='email' formControlName="email" 
                                         required />
                                </div>
                            </div>

                            <!--new-password-->
                            <div class="col-md-12 mb-4">
                                <div class="form-group">
                                    <input type="password" placeholder="New Password" class="form-control fs-14" formControlName="password" [(ngModel)]="user.password"
                                         required />
                                </div>
                            </div>

                             <!--new-confirm-password-->
                             <div class="col-md-12 mb-4">
                                <div class="form-group">
                                    <input type="password" placeholder="Comfirm Password" class="form-control fs-14" formControlName="confirmpassword" [(ngModel)]="user.confirmpassword"
                                         required />
                                </div>
                            </div>
  
                            <div class="col-md-12 mb-4">
                                <!-- <div class="form-group"> -->
                                    <button type="button"
                                        class="btn btn-primary  px-3 mx-1 py-2 w-100 fs-14 mb-2 " (click)="resetPassword()">Reset Password</button>
                                <!-- </div> -->
                            </div>
                            <!-- <div  class="col-md-12 mb-4" *ngIf="errorMsg !== ''">
                                <h4 class=" text alert text-red font-weight-bold">{{errorMsg}}</h4>
                            </div> -->
                            <div class="col-md-12">
                                <button class="btn btn-danger px-3 mx-1 py-2 w-100 fs-14 mb-2 mb-2" (click)="cancel()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>





  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <input formControlName="name" placeholder="Your name">
  
   
  
    <input formControlName="email" placeholder="Your email">
  

  
    <input formControlName="message" placeholder="Your message">
  
   
  
    <button type="button"  (click) = "onSubmit(myForm)">
      Send
    </button>
  </form>



  <input type="text" name="name" [(ngModel)]="name">
  {{name}}