<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-white mb-0">
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">E-Tendring</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">General Tender Documents</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dark-grey-bg ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">General Tender Documents</h2>
            </div>
        </div>
    </div>
</section>
<div class="mt-2">
    <!-- Show files Pop up-->
    <ng-template #shoeFiles let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> Files
                <!-- <i class="fa fa-ban text-red fs-14" type="button" placement="right" ngbTooltip="Data fetched from interface - not editable" *ngIf="isDataMoci"></i> -->
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body custom-modal-main">
            <section class=" bg-white " style="min-height: 300px !important;">
                <ng-container *ngIf="filesList.length != 0; else fileListTemplate">
                    <div class="dark-text-1">
                        Added File Names
                    </div>
                    <ul *ngFor="let item of filesList" style="background-color: white !important;">
                        <li style="list-style-type: disc !important;">
                            <span>
                                {{item.name}}
                            </span>
                            <span class="pr-4 " style="float: right;max-height: 80%; right:5%;">
                                <i class="fa fa-trash-o btn btn-danger" (click)="deleteFile(item)"></i>
                            </span>
                        </li>
                        <hr>
                    </ul>
                </ng-container>
                <ng-template #fileListTemplate>
                    No Files Added
                </ng-template>

            </section>
            <hr>
            <section class="bg-white">
                <div>Add New File</div>
                <mat-card>
                    <mat-card-content>
                        <ul>
                            <li *ngFor="let file of files">
                                <!-- <mat-progress-bar [value]="file.inProgress">
                                        </mat-progress-bar> -->
                                <span id="file-label">
                                </span>
                            </li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="warn" (click)="onClick()">
                            <mat-icon>file_upload</mat-icon>
                            Upload
                        </button>
                    </mat-card-actions>
                </mat-card>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="button"
                (click)="modal.close('Save click')">Done</button>
        </div>
    </ng-template>


    <mat-horizontal-stepper [@.disabled]="true" #stepper>
        <!-- Fees payment Confermation -->
        <mat-step>
            <ng-template matStepLabel>Payment Confermation</ng-template>

            <section class=" bg-white">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-8 px-3 mt-5  mx-auto text-center ">
                            <p class="fs-22  text-black font-weight-bold ">Payment completed successfully.<br />
                                Your transaction ID is: 2589<br />
                                Now you can see the Documents related to Tender id: 09/2017/MT<br />

                                <span class="font-weight-bold mt-3 d-block">Thank You</span> </p>
                            <div class="row mt-2 mt-md-5">

                            </div>
                            <button type="button" class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperNext>Next</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="row mt-5 ml-2">
                    <div class="col-md-12 mb-5 px-4">
                        <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                           matStepperPrevious [disabled]='true'><i class="fa fa-caret-left"></i> Previous </button>
                        <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="newStep()" matStepperNext>Next <i class="fa fa-caret-right"></i></button>
    
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                            disabled>Submit
                        </button>
                        <a routerLink="/landing/supplier-registration/dashboard">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                        </a>
                        <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                            as draft
                        </button>
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                        </button>
                    </div>
                </div> -->
            </section>

        </mat-step>
        <!-- Tender Documents -->
        <mat-step *ngIf="tenderData">
            <ng-template matStepLabel>Tender Documents</ng-template>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{ tenderData.tenderNo }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{ tenderData.siteID }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14 px-2">{{ tenderData.siteDescription }}</p>
                </div>
            </div>
            <div class="row mt-3 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                    <p class="fs-14 px-2">{{ tenderData.tenderStatus }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14 px-2">{{ tenderData.siteDescription }}</p>
                </div>
            </div>
            <!-- <div class="row mt-4 ml-5">
                <div class="col">
                    <span class="fs-18 font-weight-bold text-black dark-text-1 mr-5">Tender Documents :</span>
                    <span class=" btn btn-info "  (click)="openFile(shoeFiles,'tenderDocuments')">
                        Attech Documents <i class="fa fa-folder-open" aria-hidden="true"></i>
                        <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple"
                            style="display: none;" />
                    </span>
                </div>
            </div> -->
            <div class="row mt-3 ml-2">
                <ng-container *ngFor="let document of tenderData.tenderDocuments">
                    <div class="col-md-3">
                        <div class="card bg-light  ">
                            <div class="card-body">
                                <h5 class="card-title mb-3 fs-18">{{ document.name }}</h5>
                                <h6 class="mb-2 fs-14 text-muted text-light">Document No. : <span
                                        class="dark-text-1 fs-12">{{ document.documentNO }}</span></h6>
                                <h6 class="mb-2 fs-14 text-muted text-light">Revision No. : <span
                                        class="dark-text-1 fs-12">{{ document.revisionNo }}</span></h6>
                                <p class="card-text dark-text-1 fs-12">{{ document.word }}</p>
                                <a class="card-link text-purple" [href]="document.documentUrl" >PDF</a>
                                <div class="mt-2 text-right"> 
                                    <a  [href]="document.documentUrl">
                                        <i class="fa fa-download text-purple mr-2 fs-14 "></i> 
                                    </a>
                                    <a  [href]="document.documentUrl">
                                        <i class="fa fa-file text-purple fs-14"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <div class="col-md-3">
                    <div class="card bg-light  ">
                        <div class="card-body">
                            <h5 class="card-title mb-3 fs-18">General Specification </h5>
                            <h6 class="mb-2 fs-14 text-muted text-light">Document No. : <span
                                    class="dark-text-1 fs-12">1200232</span></h6>
                            <h6 class="mb-2 fs-14 text-muted text-light">Revision No. : <span
                                    class="dark-text-1 fs-12">$1</span></h6>
                            <p class="card-text dark-text-1 fs-12">WORD07</p>
                            <a class="card-link text-purple" href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" >PDF</a>
                            <div class="mt-2 text-right"> 
                                <a  href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf">
                                    <i class="fa fa-download text-purple mr-2 fs-14 "></i> 
                                </a>
                                <a  href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf">
                                    <i class="fa fa-file text-purple fs-14"></i> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-light  ">
                        <div class="card-body">
                            <h5 class="card-title mb-3 fs-18">Special Instructions </h5>
                            <h6 class="mb-2 fs-14 text-muted text-light">Document No. : <span
                                    class="dark-text-1 fs-12">1200232</span></h6>
                            <h6 class="mb-2 fs-14 text-muted text-light">Revision No. : <span
                                    class="dark-text-1 fs-12">$1</span></h6>
                            <p class="card-text dark-text-1 fs-12">WORD07</p>
                            <a class="card-link text-purple" href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf">PDF</a>
                            <div class="mt-2 text-right"> 
                                <a  href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf">
                                    <i class="fa fa-download text-purple mr-2 fs-14 "></i> 
                                </a>
                                <a  href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf">
                                    <i class="fa fa-file text-purple fs-14"></i> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-light  ">
                        <div class="card-body">
                            <h5 class="card-title mb-3 fs-18">Design Documents </h5>
                            <h6 class="mb-2 fs-14 text-muted text-light">Document No. : <span
                                    class="dark-text-1 fs-12">1200232</span></h6>
                            <h6 class="mb-2 fs-14 text-muted text-light">Revision No. : <span
                                    class="dark-text-1 fs-12">$1</span></h6>
                            <p class="card-text dark-text-1 fs-12">WORD07</p>
                            <a class="card-link text-purple" (click)="downloadFile()">PDF</a>
                            <div class="mt-2 text-right"> <i class="fa fa-download text-purple mr-2 fs-14 "(click)="downloadFile()"></i> <i
                                    class="fa fa-file text-purple fs-14"(click)="downloadFile()"></i> </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="newStep()" matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" disabled>Submit
                    </button>
                    <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                        as draft
                    </button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button>
                </div>
            </div>

        </mat-step>
        <!-- Tender Bids Display -->
        <mat-step *ngIf="tenderData">
            <ng-template matStepLabel>Tender Bids Display</ng-template>

            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <!-- SUPPLY LINES -->
                <mat-tab label="SUPPLY LINES">

                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{ tenderData.tenderNo }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{ tenderData.siteID }}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 px-2">{{ tenderData.tenderStatus }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 px-2">{{ tenderData.siteDescription }}</p>
                        </div>
                    </div>

                    <div class="row mt-3 ml-2">


                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <button class="btn btn-secondary float-right mb-2"> Export </button>
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Item/Part Code
                                            </th>
                                            <th scope="col">Item/Part Code Description
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Unit Price (OMR)
                                            </th>
                                            <th scope="col">Total Price (OMR)
                                            </th>
                                            <th scope="col">Document Attachment
                                            </th>
                                            <!-- <th scope="col">Queries
                                            </th>
                                            <th scope="col">Responses</th> -->
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="filterItemData">
                                        <tr *ngFor="let item of filterItemData; let i =  index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.partCode  }}</td>
                                            <td>{{ item.partCodeDescription  }}</td>
                                            <td>{{ item.uom  }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td><input type="text"></td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <!-- <td><input type="text"></td>
                                            <td>{{ item.response }}</td> -->
                                        </tr>
                                        <!-- <tr>
                                            <td>1</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><input type="text"></td>
                                            <td>-</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td><input type="text"></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><input type="text"></td>
                                            <td>-</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td><input type="text"></td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><input type="text"></td>
                                            <td>-</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td><input type="text"></td>
                                            <td>-</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="changeTab()">Next <i class="fa fa-caret-right"></i></button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                disabled>Submit
                            </button>
                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                                as draft
                            </button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button>
                        </div>
                    </div>
                </mat-tab>

                <!-- SERVICE LINES -->
                <mat-tab label="SERVICE LINES">
                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{ tenderData.tenderNo }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{ tenderData.siteID }}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 px-2">{{ tenderData.tenderStatus }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 px-2">{{ tenderData.siteDescription }}</p>
                        </div>
                    </div>
                    <div class="row mt-3 ml-2">

                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <button class="btn btn-secondary float-right mb-2"> Export </button>
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Item/Part Code Description
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Unit Price (OMR)
                                            </th>
                                            <th scope="col">Total Price (OMR)
                                            </th>
                                            <th scope="col">
                                                Document Attachment
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="itemData">
                                        <tr *ngFor="let item of filterItemData; let i =  index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.partCodeDescription  }}</td>
                                            <td>{{ item.uom  }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td><input type="text"></td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td><i class="fa fa-folder"></i></td>
                                        </tr>
                                        <!-- <tr>
                                            <td>1</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><input type="text"></td>
                                            <td>-</td>
                                            <td><i class="fa fa-folder"></i></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><input type="text"></td>
                                            <td>-</td>
                                            <td><i class="fa fa-folder"></i></td> -->
                                        <!-- </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous </button>
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="changeTab()">Next <i class="fa fa-caret-right"></i></button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                disabled>Submit
                            </button>
                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                                as draft
                            </button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button>
                        </div>
                    </div>
                </mat-tab>

                <!-- CONTRACT BOQS(bills of queries) -->
                <mat-tab label="CONTRACT BOQS">
                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{ tenderData.tenderNo }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{ tenderData.siteID }}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 px-2">{{ tenderData.tenderStatus }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 px-2">{{ tenderData.siteDescription }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <button class="btn btn-secondary float-right mb-2"> Export </button>
                                <!-- <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Line Name
                                            </th>
                                            <th scope="col">Line Description
                                            </th>
                                            <th scope="col">Item No
                                            </th>
                                            <th scope="col">Item Name
                                            </th>
                                            <th scope="col">Item Description
                                            </th>
                                            <th scope="col">Item Type
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Item Rate
                                            </th>
                                            <th scope="col">Value
                                            </th>
                                            <th scope="col">Document Attachment
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><i class="fa fa-folder"></i></td>
                                        </tr>
                                    </tbody>
                                </table> -->
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No</th>
                                            <th scope="col">Line Name</th>
                                            <th scope="col">Line Description</th>
                                            <th scope="col">Value Contract Currency</th>
                                            <th scope="col">Value Company Currency</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="contractData">
                                        <tr *ngFor="let line of contractData;let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ line.lineName }}</td>
                                            <td>{{ line.lineDescription }}</td>
                                            <td> {{ line.contractCurrency }}</td>
                                            <td>{{ line.companyCurrency }}</td>
                                            <td><i (click)="contractExpand(line, i)" class="fa" [ngClass]="{'fa-chevron-circle-up': selectedContractIndex !== i, 'fa-chevron-circle-down': selectedContractIndex === i }"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="selectedContract">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <h3>Items</h3>
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr class="purple-bg text-white">
                                            <th scope="col">Item No</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Item Description</th>
                                            <th scope="col">Item Type</th>
                                            <th scope="col">UoM</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Item Rate</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of selectedContract;let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.itemName  }}</td>
                                            <td>{{ item.itemDescription  }}</td>
                                            <td>{{ item.itemType  }}</td>
                                            <td>{{ item.uom }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.itemRate }}</td>
                                            <td>{{ item.value }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous </button>
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperNext>Next <i class="fa fa-caret-right"></i></button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                disabled>Submit
                            </button>
                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                                as draft
                            </button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </mat-step>


        <!-- Other Info -->
        <mat-step *ngIf="tenderData">
            <ng-template matStepLabel>Other Info</ng-template>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{ tenderData.tenderNo }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{ tenderData.siteID }}</p>
                </div>
            </div>
            <div class="row mt-3 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                    <p class="fs-14 px-2">{{ tenderData.tenderStatus }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14 px-2">{{ tenderData.siteDescription }}</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">
                        <!-- <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text"> -->
                        <table class="table table-striped mb-0 ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th scope="col">No. </th>
                                    <th scope="col">Label </th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let other of tenderData.otherInfo">
                                    <td>{{ other.no }}</td>
                                    <td>{{ other.label || '-' }}</td>
                                    <td>{{ other.value || '-' }}</td>
                                    <!-- <td><input type="text"  [(ngModel)]="other.value"></td> -->
                                </tr>
                                <!-- <tr>
                                    <td>1</td>
                                    <td>field 2</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>field 3</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>field 4</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>field 5</td>
                                    <td><input type="text"></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="preStep(2)" matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        disabled>Next <i class="fa fa-caret-right"></i></button>

                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        (click)="proceed()">Submit
                    </button>

                    <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                        as draft
                    </button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button>
                </div>
            </div>

        </mat-step>
    </mat-horizontal-stepper>
</div>

<ng-template #selectionModel let-modal>
    <div class="modal-btn modal-body custom-modal-main bg-white d-flex align-self-center">
        <button class="btn btn-primary m-4 p-4" (click)="submitTenderBids(); modal.close('Save click')">Submit Tender
            Bids</button>
        <button class="btn btn-primary m-4 p-4" (click)="tenderQueries(); modal.close('Save click')">Tender
            Queries</button>
    </div>
</ng-template>