@import 'src/assets/scss/index.scss';

.text-purple {
    color: $primary-purple !important;
}

.card {
    width: 80%;
    box-shadow: 5px 5px 5px 0px #999;
}

.modal-center{
    margin-top: 40%;
}

.modal-btn{
    ::ng-deep{
        .btn-primary{
            color:$color-white ;
            border-color: $primary-purple ;
            background: $primary-purple ;
        
        }
        .btn-primary:hover{
            color: $primary-purple ;
            background-color:$color-white ;
        }
    
        .btn-primary:focus,
        .btn-primary.focus {
            box-shadow: 0 0 0 .2rem $primary-purple-hover;
        }
    }
}

.fa, .fa-chevron-circle-up, .fa-chevron-circle-down {
    font-size: 22px;
}