
// Color Pallete
$primary-purple: #873e8d;
$primary-blue: #192C3F;
$secondary-blue: #009AE0;
$tertiary-blue: #87D3ED;
$primary-green: #A5CC17;
$border-grey: #736F6E;
$background-grey: #F5F7FA;
$color-white: #FFFFFF;
$grey-darkest: #152935;
$blue-light: #6cb2eb;
$grey-light: #D0D8E8;
$grey-light-color: #DAE0ED;
$light-shadow: #DDDDDD;
$color-gray: #bdbdbd;
$primary-dark-gray: #304152;
$primary-dark-gray-hover: #455463;
$primary-light-white: #fff; // 8C959F
$color-yellow: #F5A623;

$background-blue: #5CA1B8;
$background-light-cyan: #F2FEFE;
$color-blue: #0000FF;
$color-black: #003721;
$color-sky-blue: #138fc2;

$primary-button-hover: #475665;
$primary-button-disabled: #D0D8E8;
$primary-button-pressed: #142332;

$secondary-button-hover: #33AEE6;
$secondary-button-disabled: #D0D8E8;
$secondary-button-pressed: #007BB3;


$error: #D0021B;
$none: none; 
$block: block;
$inline-block: inline-block;

//large 
$lg-button:329px;

//alignment
$left:left;
$center:center;
$right:right;


//font-size 
$fontsize-12: 12px;
$fontsize-14: 14px;
$fontsize-16: 16px;
$fontsize-18: 18px;
$fontsize-20: 20px;
$fontsize-25: 25px;
$fontsize-36: 36px;

// Max page content size
$max-content-size: 1100px;

// Header size
$header-size: 80px;


//font weight 
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;

//responsive
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-up-with: 1100px;
