<app-landing-header (onViewSidebar)="onViewSidebar($event)"></app-landing-header>
<div class="landing-portal-content" [class.viewOpen]="viewSideBar">
  <section>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb bg-white mb-0">
            <li class="breadcrumb-item"><a href="/landing/dashboard">Home</a></li>
            <!-- <li class="breadcrumb-item"><a href="/landing/dashboard">Supplier Registration </a></li>
            <li class="breadcrumb-item active" aria-current="page">Register </li> -->
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-grey-bg ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 ">
          <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Supplier Portal</h2>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>