<div id="landing-sidebar" class="animated">
  <ul *ngFor="let item of sidebarItems">
    <li [ngClass]="item.disabled ? 'sub-menu-active' : ''">
      <a *ngIf="item.children.length==0" routerLinkActive="active" href={{item.route}} (click)="item.disabled = !item.disabled">
        <!-- <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div> -->
        {{item.name}}
        <div class="arrow-img" *ngIf="item.children.length>0">
          <img src="/assets/icons/arrow-right-white.svg" alt="" *ngIf="!item.disabled">
          <img src="/assets/icons/arrow-down-white.svg" alt="" *ngIf="item.disabled">
        </div>
      </a>
      <a *ngIf="item.children.length>0" (click)="item.disabled = !item.disabled">
        <!-- <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div> -->
        {{item.name}}
        <div class="arrow-img" *ngIf="item.children.length>0">
          <img src="/assets/icons/arrow-right-white.svg" alt="" *ngIf="!item.disabled">
          <img src="/assets/icons/arrow-down-white.svg" alt="" *ngIf="item.disabled">
        </div>
      </a>
    </li>
    <div *ngIf="item.children.length>0 && item.disabled">
      <ul class="sub-menu" *ngFor="let child of item.children">
          <li>
            <a routerLinkActive="active" href={{child.route}}>
              {{child.name}}
            </a>
              <div class="arrow-img" *ngIf="child.children.length>0">
                <img src="/assets/icons/arrow-right-white.svg" alt="" *ngIf="!child.disabled">
                <img src="/assets/icons/arrow-down-white.svg" alt="" *ngIf="child.disabled">
              </div>
          </li>
        </ul>
    </div>
  </ul>
</div>
<!-- <li [ngClass]="isSubmenu ? 'sub-menu-active' : ''">
      <a routerLinkActive="active" (click)="submenuFun()">
        <div class="iconblock">
          <img src="/assets/icons/down-up-white.svg" alt="">
        </div>
        RCA GENERAL INFO & LINKS
        <div class="arrow-img">
          <img src="/assets/icons/{{arrowimg}}.svg" alt="">
        </div>
        
      </a>
      <ul class="sub-menu" *ngIf="isSubmenu">
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item1
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item2
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item3
          </a>
        </li>
      </ul>
    </li>
    <li [ngClass]="isSubmenu ? 'sub-menu-active' : ''">
      <a routerLinkActive="active" (click)="submenuFun()">
        <div class="iconblock">
          <img src="/assets/icons/down-up-white.svg" alt="">
        </div>
        SUPPLIER REGISTRATION
        <div class="arrow-img">
          <img src="/assets/icons/{{arrowimg}}.svg" alt="">
        </div>
        
      </a>
      <ul class="sub-menu" *ngIf="isSubmenu">
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item1
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item2
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item3
          </a>
        </li>
      </ul>
    </li>
    <li [ngClass]="isSubmenu ? 'sub-menu-active' : ''">
      <a routerLinkActive="active" (click)="submenuFun()">
        <div class="iconblock">
          <img src="/assets/icons/down-up-white.svg" alt="">
        </div>
        TENDERING
        <div class="arrow-img">
          <img src="/assets/icons/{{arrowimg}}.svg" alt="">
        </div>
        
      </a>
      <ul class="sub-menu" *ngIf="isSubmenu">
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item1
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item2
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item3
          </a>
        </li>
      </ul>
    </li>
    <li [ngClass]="isSubmenu ? 'sub-menu-active' : ''">
      <a routerLinkActive="active" (click)="submenuFun()">
        <div class="iconblock">
          <img src="/assets/icons/down-up-white.svg" alt="">
        </div>
        ORDERS
        <div class="arrow-img">
          <img src="/assets/icons/{{arrowimg}}.svg" alt="">
        </div>
        
      </a>
      <ul class="sub-menu" *ngIf="isSubmenu">
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item1
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item2
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item3
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="#">
        <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div>
        LATE ORDERS
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="#">
        <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div>
        ORDER LINES TO CONFIRM
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="#">
        <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div>
        REQUEST FOR ORDER QUOTATION
      </a>
    </li> -->
  

<!-- 
  <a routerLinkActive="active">
        <div class="iconblock">
          <img src="/assets/icons/down-up-white.svg" alt="">
        </div>
         <div>{{item.icon}}</div>
        {{item.name}}
        <div class="arrow-img">
          <img src="/assets/icons/{{arrowimg}}.svg" alt="">
        </div>
      </a>
       <div *ngIf="item.children.length>0">
        <div *ngFor="let child of item.children">
            <li>
              <a routerLinkActive="active">
                <div class="iconblock">
                  <img src="/assets/icons/down-up-white.svg" alt="">
                </div>
                 <div>{{item.icon}}</div>
                {{item.name}}
                <div class="arrow-img">
                  <img src="/assets/icons/{{arrowimg}}.svg" alt="">
                </div>
              </a>
            </li>
        </div>
 -->