<section>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb bg-white mb-0">
            <li class="breadcrumb-item"><a href="/#/landing/supplier-registration/dashboard">E-Tendring</a></li>
            <li class="breadcrumb-item"><a href="/#/landing/supplier-registration/dashboard">Supplier Dashboards</a></li>
            <li class="breadcrumb-item active" aria-current="page">Current Tenders </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-grey-bg ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 ">
          <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Current Tenders </h2>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-md-12 px-4 mb-3 mt-3">
      <div class="table-responsive">
        <!-- <input class="fs-16 custom-height-35" [(ngModel)]="searchText" placeholder="Search text">
  
              <button class="btn btn-secondary ml-2 float-right mb-2" (click)="alertNoAdd()"  mat-raised-button
              matTooltip="Not Allowed to add details for Local entities"><i
                      class="fa fa-plus" aria-hidden="true"></i></button> -->
  
        <table class="table table-striped ">
          <thead>
            <tr class="purple-bg text-white">
              <th scope="col">No</th>
              <th scope="col">Tender No.</th>
              <th scope="col">Tender Title</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Tender Frr(OMR)</th>
              <th scope="col">Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tenderDetail of newTender">
              <td>{{ tenderDetail.no }}</td>
              <td><a routerLink="#">{{ tenderDetail.tenderNo }}</a></td>
              <td><a routerLink="#">{{ tenderDetail.tenderTitle }}</a></td>
              <td>{{ tenderDetail.startDate }}</td>
              <td>{{ tenderDetail.endDate }}</td>
              <td>{{ tenderDetail.tenderFee }}</td>
              <td>{{ tenderDetail.remarks }}</td>
            </tr>
          </tbody>
  
        </table>
      </div>
    </div>
  </div>