<div class="">
  <div class="container-fluid px-0 ">
      <div class="row mx-0 ">
          <div class="col-md-12 col-lg-8 col-xl-9 px-0"><img src="assets/images/login-bg.jpg" alt=""
                  class="img-fluid custom-min-vh-100 " /> </div>
          <div
              class="col-md-12 col-lg-4 col-xl-3 px-5 d-flex align-content-center align-items-center h-100  custom-min-vh-100">
              <div class=" h-100 py-3"> 
                  <div class="row">
                      <div class="col-md-12">
                          <img src="assets/images/IFS.jpg" alt="" />
                          <h2 class="fs-24 text-dark-grey mb-1 mt-3 pb-0 ">Change Password</h2>
                      </div>
                  </div>
                  <form class="" #form="ngForm" (ngSubmit)="changePassword()">
                      <div class="row mb-3">
                          <!--email-->
                          <div class="col-md-12 mb-4">
                              <div class="form-group">
                                  <input type="text" placeholder="Email" class="form-control fs-14" name="email"
                                      id="email" #email="ngModel"  (keyup)="validateEmail(user.email, user.password, user.newPassword, user.confirmPassword)" [(ngModel)]="user.email" required />
                              </div>
                          </div>
                          <!--current-password-->
                          <div class="col-md-12 mb-4">
                              <div class="form-group">
                                  <input type="password" placeholder="Old Password" class="form-control fs-14" name="password"
                                      id="password" #password="ngModel"  (keyup)="validateEmail(user.email, user.password, user.newPassword, user.confirmPassword)" [(ngModel)]="user.password" required />
                              </div>
                          </div>
                      
                          <!--new-password-->
                          <div class="col-md-12 mb-4">
                              <div class="form-group">
                                  <input type="password" placeholder="New Password" class="form-control fs-14" name="newPassword"
                                      id="newPassword" #newPassword="ngModel"  (keyup)="validateEmail(user.email, user.password, user.newPassword, user.confirmPassword)" [(ngModel)]="user.newPassword" required />
                              </div>
                          </div>
                           <!--new-confirm-password-->
                           <div class="col-md-12 mb-4">
                              <div class="form-group">
                                  <input type="password" placeholder="Comfirm Password" class="form-control fs-14" name="confirmPassword"
                                      id="confirmPassword" #confirmPassword="ngModel"  (keyup)="validateEmail(user.email, user.password, user.newPassword, user.confirmPassword)" [(ngModel)]="user.confirmPassword" required />
                              </div>
                          </div>

                          <div class="col-md-12 mb-4">
                              <div class="form-group">
                                  <button type="submit" [disabled]="!validForm" name="submit"
                                      class="btn btn-primary  px-3 mx-1 py-2 w-100 fs-14 mb-2 "
                                      value="Login">Change Password</button>
                              </div>
                          <h4 class="text alert text-red fs-13" *ngIf="errorMsg !== ''">{{errorMsg}}</h4>
                          </div>
                          <div class="col-md-12">
                              <button class="btn btn-danger px-3 mx-1 py-2 w-100 fs-14 mb-2 mb-2" (click)="cancel()">Cancel</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>