<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-white mb-0">
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">E-Tendering</a>
                    </li>
                    <li class="breadcrumb-item active">My Information</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dark-grey-bg ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">My Information</h2>
            </div>
        </div>
    </div>
</section>

<div class="row m-4">
    <div class="col-md-4 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Supplier Name</h5>
        <p class="fs-14">{{ infoData.supplierName }}</p>
    </div>
    <div class="col-md-4   px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">RCA Registration Number</h5>
        <p class="fs-14 ">{{ infoData.rcaRegisterNumber }}</p>
    </div>
    <div class="col-md-4  px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Username</h5>
        <p class="fs-14 " *ngIf="!isEdit">{{ infoData.userName }}</p>
        <input type="text" [(ngModel)]="infoData.userName" *ngIf="isEdit">
    </div>
</div>

<div class="row m-4">
    <div class="col-md-4 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Mobile Number</h5>
        <p class="fs-14 px-2" *ngIf="!isEdit">{{ infoData.mobileNumber }}</p>
        <input type="text" [(ngModel)]="infoData.mobileNumber" *ngIf="isEdit">
    </div>
    <div class="col-md-4 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">E-mail Id</h5>
        <p class="fs-14" *ngIf="!isEdit">{{ infoData.email }}</p>
        <input type="text" [(ngModel)]="infoData.email" *ngIf="isEdit">
    </div>
    <div class="col-md-4   px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Registration Validity</h5>
        <p class="fs-14 ">{{ infoData.registrationValidity }}</p>
    </div>
</div>

<div class="row m-4">
    <div class="col-md-4  px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Last Log In Date & Time Stamp</h5>
        <p class="fs-14 ">{{ infoData.lastLoginDate }}</p>
    </div>
    <div class="col-md-4 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Grade</h5>
        <p class="fs-14 px-2">{{ infoData.grade }}</p>
    </div>
    <div class="col-md-4 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Status</h5>
        <p class="fs-14">{{ infoData.status }}</p>
    </div>
</div>


<div class="row mt-5 ml-2">
    <div class="col-md-12 mb-5 px-4">
        <a routerLink="/landing/supplier-registration/dashboard">
            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Home</button>
        </a>
        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" (click)="isEditClick()">
            {{ isEdit ? 'Save' : 'Edit' }}
        </button>
    </div>
</div>