<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-white mb-0">
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">E-Tendering</a>
                    </li>
                    <li class="breadcrumb-item active">My Information</li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dark-grey-bg ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">My Information</h2>
            </div>
        </div>
    </div>
</section>

<div class="row m-4">
    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Supplier Name</h5>
        <p class="fs-14">R Bala</p>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">RCA Reg. Number</h5>
        <p class="fs-14 ">113377880</p>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Username
        </h5>
        <p class="fs-14 ">rbala1234</p>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Mobile Number</h5>
        <p class="fs-14 px-2">9999999999</p>
    </div>
</div>

<div class="row m-4">
    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">E-mail Id</h5>
        <p class="fs-14">rbala@gmail.com</p>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Registration Validity</h5>
        <p class="fs-14 ">89696</p>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Last Log In Date & Time Stamp
        </h5>
        <p class="fs-14 ">10-11-2020 05:00:00</p>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Grade</h5>
        <p class="fs-14 px-2">A</p>
    </div>
</div>

<div class="row m-4">
    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Status</h5>
        <p class="fs-14">-</p>
    </div>
</div>