<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-white mb-0">
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">E-Tendering</a>
                    </li>
                    <li class="breadcrumb-item active">Registration of Queries</li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dark-grey-bg ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Tender Queries</h2>
            </div>
        </div>
    </div>
</section>

<div class="custom-tab-01">
    <mat-horizontal-stepper [@.disabled]="true" #stepper>
        <!-- Request SIte visit -->
        <mat-step *ngIf="tenderData">
            <ng-template matStepLabel>Site Visit</ng-template>

            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{ tenderData.tenderNo }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{ tenderData.siteID }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14 ">{{ tenderData.siteDescription }}</p>
                </div>
            </div>

            <div class="row mt-5 mb-5 ml-2">
                <div class="col-md-4  px-4 pb-4">
                    <!-- <button type="button" class="btn btn-info btn-block px-3 py-2">Request for Site Visit</button> -->
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1">
                        <span class="mr-5">Request for Site Visit:</span>
                        <mat-slide-toggle
                        class="ml-5"
                        [color]="'primary'"
                        [checked]="tenderData.tenderSiteVisit.requestForSiteVisit"
                        [disabled]="'false'"></mat-slide-toggle>
                    </h5>

                </div>
            </div>


            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        [disabled]="true"><i class="fa fa-caret-left" matStepperPrevious></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        [disabled]='true'>Submit
                    </button>
                    <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                        as draft
                    </button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button>

                </div>
            </div>

        </mat-step>

        <!--  Tender Extension -->
        <mat-step *ngIf="tenderData">
            <ng-template matStepLabel>Extension of Time</ng-template>

            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{ tenderData.tenderNo }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{ tenderData.siteID }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14 ">{{ tenderData.siteDescription }}</p>
                </div>
            </div>
            <div class="row mt-2 ml-2">
                <div class="col  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                    <p class="fs-14 ">{{ tenderData.tenderStatus }}</p>
                </div>
            </div>


            <div class="row ml-2">
                <div class="col-md-12  px-4 pb-2 mt-2">
                    <label class="fs-16 font-weight-bold text-black dark-text-1 mr-3">Submission Ext. Req. Dt</label>
                    <mat-form-field appearance="fill" class="mt-0">
                        <mat-select>
                            <mat-option *ngFor="let week of weekList" [value]="week">
                                {{week}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-5 ml-2">
                <div class="col-md-12  px-4 pb-2">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Reason for Extensions</h5>
                </div>
                <div class="col-md-6  px-4 pb-2">
                    <textarea name="" [(ngModel)]="tenderData.tenderExtension.reasonForExtension" class="form-control" id="" rows="5"></textarea>
                </div>
            </div>


            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        [disabled]='true'>Submit
                    </button>
                    <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                        as draft
                    </button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button>

                </div>
            </div>

        </mat-step>

        <!--  Technical inquiry -->
        <mat-step *ngIf="tenderData">
            <ng-template matStepLabel>Technical Inquiry</ng-template>

            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="SUPPLY LINES">

                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{ tenderData.tenderNo }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{ tenderData.siteID }}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 ">{{ tenderData.siteDescription }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 ">{{ tenderData.tenderStatus }}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3 ml-2">
                        <!-- <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Establishment date</h5>
                            <p class="fs-14">{{formData.generalInfo.regDate}}</p>
                        </div> -->


                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Item/Part Code
                                            </th>
                                            <th scope="col">Item/Part Code Description
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Unit Price (OMR)
                                            </th>
                                            <th scope="col">Total Price (OMR)
                                            </th>
                                            <th scope="col">Document Attachment
                                            </th>
                                            <th scope="col">Queries
                                            </th>
                                            <th scope="col">Responses</th>
                                        </tr>
                                    </thead>
                                    <tbody  *ngIf="filterItemData">
                                        <tr *ngFor="let item of filterItemData; let i =  index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.partCode  }}</td>
                                            <td>{{ item.partCodeDescription  }}</td>
                                            <td>{{ item.uom  }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>-</td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td><input type="text"></td>
                                            <td>{{ item.response }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>

                            <button type="button" class="btn border  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="changeTab()" [disabled]="selected.value == 2">Next <i
                                    class="fa fa-caret-right"></i></button>


                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                [disabled]='true'>Submit
                            </button>
                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                                as draft
                            </button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="SERVICE LINES">
                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{ tenderData.tenderNo }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                        </div>
                       
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{ tenderData.siteID }}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 ">-</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 ">Published</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3 ml-2">

                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Item/Part Code Description
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Unit Price (OMR)
                                            </th>
                                            <th scope="col">Total Price (OMR)
                                            </th>
                                            <th scope="col">
                                                Document Attachment
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody  *ngIf="filterItemData">
                                        <tr *ngFor="let item of filterItemData; let i =  index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.partCodeDescription  }}</td>
                                            <td>{{ item.uom  }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>-</td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td><i class="fa fa-folder"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous </button>

                            <button type="button" class="btn border  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="changeTab()" [disabled]="selected.value == 2">Next <i
                                    class="fa fa-caret-right"></i></button>


                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                [disabled]='true'>Submit
                            </button>
                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                                as draft
                            </button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="CONTRACT BOQS">
                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{ tenderData.tenderNo }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{ tenderData.tenderTitle }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{ tenderData.siteID }}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 ">{{ tenderData.siteDescription }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 ">{{ tenderData.tenderStatus }}</p>
                        </div>
                    </div>
                    <div class="row mt-3 ml-2">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <!-- <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Line Name
                                            </th>
                                            <th scope="col">Line Description
                                            </th>
                                            <th scope="col">Item No
                                            </th>
                                            <th scope="col">Item Name
                                            </th>
                                            <th scope="col">Item Description
                                            </th>
                                            <th scope="col">Item Type
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Item Rate
                                            </th>
                                            <th scope="col">Value
                                            </th>
                                            <th scope="col">Document Attachment
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><i class="fa fa-folder"></i></td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No</th>
                                            <th scope="col">Line Name</th>
                                            <th scope="col">Line Description</th>
                                            <th scope="col">Value Contract Currency</th>
                                            <th scope="col">Value Company Currency</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="contractData">
                                        <tr *ngFor="let line of contractData;let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ line.lineName }}</td>
                                            <td>{{ line.lineDescription }}</td>
                                            <td> {{ line.contractCurrency }}</td>
                                            <td>{{ line.companyCurrency }}</td>
                                            <td><i (click)="contractExpand(line, i)" class="fa" [ngClass]="{'fa-chevron-circle-up': selectedContractIndex !== i, 'fa-chevron-circle-down': selectedContractIndex === i }"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="selectedContract">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <h3>Items</h3>
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr class="purple-bg text-white">
                                            <th scope="col">Item No</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Item Description</th>
                                            <th scope="col">Item Type</th>
                                            <th scope="col">UoM</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Item Rate</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of selectedContract;let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.itemName  }}</td>
                                            <td>{{ item.itemDescription  }}</td>
                                            <td>{{ item.itemType  }}</td>
                                            <td>{{ item.uom }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.itemRate }}</td>
                                            <td>{{ item.value }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous </button>

                            <button type="button" class="btn border  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                [disabled]="true">Next <i class="fa fa-caret-right"></i></button>


                            <a routerLink="/e-tendering/tender-addendums">
                                <button type="button"
                                    class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" (click)="open()">Submit</button>
                            </a>
                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                                as draft
                            </button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>


        </mat-step>

    </mat-horizontal-stepper>
</div>


<ng-template #selectionModel let-modal>
    <div class="modal-btn modal-body custom-modal-main bg-white d-flex align-self-center">
        <button class="btn btn-primary m-4 p-4" (click)="submitTenderBids(); modal.close('Save click')">Submit Tender
            Bids</button>
        <button class="btn btn-primary m-4 p-4" (click)="waitAddendums(); modal.close('Save click')">Wait
            for the Addendums</button>
    </div>
</ng-template>