<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-white mb-0">
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">E-Tendring</a>
                    </li>

                    <li class="breadcrumb-item active" aria-current="page">General Tender Detail</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dark-grey-bg ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">General Tender Detail</h2>
            </div>
        </div>
    </div>
</section>

<div class="mt-2">
    <!-- Show files Pop up-->
    <!-- <ng-template #shoeFiles let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> Files
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body custom-modal-main">
            <section class=" bg-white " style="min-height: 300px !important;">
                <ng-container *ngIf="filesList.length != 0; else fileListTemplate">
                    <div class="dark-text-1">
                        Added File Names
                    </div>
                    <ul *ngFor="let item of filesList" style="background-color: white !important;">
                        <li style="list-style-type: disc !important;">
                            <span>
                                {{item.name}}
                            </span>
                            <span class="pr-4 " style="float: right;max-height: 80%; right:5%;">
                                <i class="fa fa-trash-o btn btn-danger" (click)="deleteFile(item)"></i>
                            </span>
                        </li>
                        <hr>
                    </ul>
                </ng-container>
                <ng-template #fileListTemplate>
                    No Files Added
                </ng-template>

            </section>
            <hr>
            <section class="bg-white">
                <div>Add New File</div>
                <mat-card>
                    <mat-card-content>
                        <ul>
                            <li *ngFor="let file of files">
                                <span id="file-label">
                                </span>
                            </li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="warn" (click)="onClick()">
                            <mat-icon>file_upload</mat-icon>
                            Upload
                        </button>
                    </mat-card-actions>
                </mat-card>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="button"
                (click)="modal.close('Save click')">Done</button>
        </div>
    </ng-template> -->


    <mat-horizontal-stepper [@.disabled]="true" #stepper>
        <!-- Tender Program -->
        <mat-step *ngIf="tenderData">
            <ng-template matStepLabel>Tender Program</ng-template>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{  tenderData.tenderNo }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{  tenderData.tenderTitle }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{  tenderData.siteID }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Hours Left</h5>
                    <p class="fs-14 ">{{hoursLeft}}</p>
                </div>
            </div>
            <div class="row mt-2 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                    <p class="fs-14">{{ tenderData.tenderStatus }}</p>
                </div>
                <div class="col px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14">{{ tenderData.siteDescription }}</p>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <!-- <div class="col-md-12 col-lg-12 col-xl-12 px-4 pb-2 ">
                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                        matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                </div> -->
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Start Date</h5>
                    <p class="fs-14">{{ tenderData.tenderProgram.tenderStartDate }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Submission Date</h5>
                    <p class="fs-14">{{ tenderData.tenderProgram.tenderSubmissionDate }}</p>
                </div>
                <div class="col px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Last Date for Tender Queries</h5>
                    <p class="fs-14">{{ tenderData.tenderProgram.lastDateForTenderQueries }}</p>
                </div>
            </div>
            <div class="row  ml-2">
            </div>
            <div class="row ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <span class="fs-16 font-weight-bold text-black dark-text-1 mr-4">Brief Description of Tender :
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="fs-14 text-black ">{{ tenderData.tenderProgram.briefDescriptionOfTender }}</span>
                </div>
            </div>


            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        disabled><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        disabled>Submit
                    </button> -->
                    <!-- <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    </a> -->
                    <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                        </button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2"
                        (click)="submitOrSaveDraft('saveAsDraft')">Save
                        as draft
                    </button>
                </div>
            </div>

        </mat-step>
        <!-- Tender Participate -->
        <mat-step *ngIf="tenderData">
            <ng-template matStepLabel>Tender Participate</ng-template>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{  tenderData.tenderNo }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{  tenderData.tenderTitle }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{  tenderData.siteID }}</p>
                </div>
            </div>
            <div class="row mt-2 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                    <p class="fs-14">{{  tenderData.tenderStatus }}</p>
                </div>
                <div class="col px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14">{{  tenderData.siteDescription }}</p>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 mb-4">Participate</h5>

                    <input class="form-check-input ml-2" type="radio" id="yes" name='participate'
                        [checked]="tenderData.tenderParticipate.participate == 'yes'"
                        (change)="changeParticipationStatus(true)">
                    <label class="form-check-label ml-5 mr-5" for="yes">Yes </label>
                    <input class="form-check-input" id="no" name='participate' type="radio"
                        [checked]="tenderData.tenderParticipate.participate == 'no'"
                        (change)="changeParticipationStatus(false)">
                    <label class="form-check-label ml-2" for="no">No </label>

                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Document Fee</h5>
                    <p class="fs-14">{{ tenderData.tenderParticipate.tenderDocumentFee }}</p>
                </div>
            </div>
            <div class="row  ml-2 mt-4">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4" *ngIf="tenderData.tenderParticipate.participate == 'no'">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 mb-0">Regret Reason</h5>
                    <mat-form-field appearance="fill" class="mt-0">
                        <mat-select [(ngModel)]="tenderData.tenderParticipate.regretReason">
                            <mat-option *ngFor="let reason of regretReasons" [value]="reason">
                                {{reason}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 mt-4 mb-4"
                    *ngIf="tenderData.tenderParticipate.participate == 'yes'">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Visit Required</h5>
                    <input class="form-check-input ml-2" [(ngModel)]="tenderData.tenderParticipate.siteVisitRequired"
                        id="siteYes" type="radio" value="yes" name='siteVisit' checked>
                    <label class="form-check-label ml-5 mr-5" for="siteYes">Yes </label>
                    <input class="form-check-input" [(ngModel)]="tenderData.tenderParticipate.siteVisitRequired"
                        id="siteNo" value="no" name='siteVisit' type="radio">
                    <label class="form-check-label ml-2" for="siteNo">No </label>
                </div>
            </div>


            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        disabled>Submit
                    </button>
                    <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    </a> -->
                    <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                        </button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2"
                        (click)="submitOrSaveDraft('saveAsDraft')">Save
                        as draft
                    </button>
                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button> -->
                </div>
            </div>

        </mat-step>
        <!-- Tender Fees -->
        <mat-step *ngIf="tenderData">
            <ng-template matStepLabel>Tender Fees</ng-template>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{  tenderData.tenderNo }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{  tenderData.tenderTitle }}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{  tenderData.siteID }}</p>
                </div>
            </div>
            <div class="row ml-2 mt-4">
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                    <p class="fs-14">{{  tenderData.tenderStatus }}</p>
                </div>
                <div class="col px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14">{{  tenderData.siteDescription }}</p>
                </div>
            </div>
            <!-- <div class="row mt-4 ml-2">
                <div class="col">
                    <span class="fs-16 font-weight-bold text-black dark-text-1 mr-5">Tender Document Fee : </span>
                    <span class="fs-14 text-black">{{ tenderData.tenderFees.tenderDocumentFee }}</span>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <div class="col">
                    <span class="fs-16 font-weight-bold text-black dark-text-1 mr-5">Payment Status</span>
                    <span class="fs-14 text-black">{{ isTenderPaymentDone ? 'Paid' : 'Pending' }}</span>
                </div>
            </div> -->
            <div class="row ml-2 mt-4">
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Document Fee</h5>
                    <p class="fs-14">{{ tenderData.tenderFees.tenderDocumentFee }}</p>
                </div>
                <div class="col px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Payment Status</h5>
                    <p class="fs-14">{{ isTenderPaymentDone ? 'Paid' : 'Pending' }}</p>
                </div>
            </div>
            <!-- <div class="row  ml-2 mt-4" *ngIf="supplierType !== 'international'">
                <div class="col">
                    <span class="fs-16 font-weight-bold text-black dark-text-1 mr-5 ">Payment Mode : </span>

                    <input class="form-check-input ml-2" type="radio" name='paymentMode' checked>
                    <label class="form-check-label ml-5 mr-5" for="debit">Debit </label>
                    <input class="form-check-input" name='paymentMode' type="radio">
                    <label class="form-check-label  ml-2" for="credit">Credit </label>

                </div>
            </div> -->

            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious> Previous </button>

                    <!-- <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="submitOrSaveDraft('next')">Next <i class="fa fa-caret-right"></i></button> -->
                    <!-- <button type="button" *ngIf="supplierType !== 'international'"
                            class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                            (click)="submitOrSaveDraft('next')">Next</button> -->

                    <button type="button" [disabled]="!isTenderPaymentDone" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="submitOrSaveDraft('')">Next <i class="fa fa-caret-right"></i></button>

                    <!-- For local and citizen -->
                    <form #omanTenderPaymentForm *ngIf="supplierType !== supplierEnum.INTERNATIONAL" class="d-inline"
                        [action]="endPoint.omanNetPaymentGateway" method="POST">
                        <input type="hidden" name="amount" [value]="amount">
                        <input type="hidden" name="Authorization" [value]="authToken">

                        <input type="submit" class="btn btn-primary  px-3 mx-1 py-2 w-150 fs-14 mb-2 mb-2"
                            (click)="omanTenderPaymentForm.submit()" value="Payment" [disabled]="isTenderPaymentDone">
                    </form>
                    <!-- For international -->
                    <form #tenderPaymentForm *ngIf="supplierType == supplierEnum.INTERNATIONAL" class="d-inline"
                        [action]="endPoint.cyberSourcePaymentGateway" method="POST">
                        <input type="hidden" name="amount" [value]="amount">
                        <input type="hidden" name="currency" [value]="currency">
                        <input type="hidden" name="Authorization" [value]="authToken">

                        <input type="submit" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                            (click)="tenderPaymentForm.submit()" [disabled]='isTenderPaymentDone' value="Payment">
                    </form>
                    <!-- <a>
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                            (click)="submitOrSaveDraft()"    
                        >Submit
                        </button>
                    </a> -->
                    <!-- <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    </a> -->
                    <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                        </button>
                    </a>
                    <button type="button" (click)="submitOrSaveDraft('saveAsDraft')"
                        class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                        as draft
                    </button>
                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button> -->
                </div>
            </div>

        </mat-step>
    </mat-horizontal-stepper>
</div>