<app-landing-header (onViewSidebar)="onViewSidebar($event)" [showsidebar]="false"></app-landing-header>

    <section class="container-fluid">
        <div class="row">
            <div class="col-md-3 offset-md-2" >
                <form class="" #form="ngForm" (ngSubmit)="login(user.email)">
                    <!-- <h3 class="text-center text-info">Login</h3> -->
                    <!--email-->
                    <div class="row mb-3">
                        <div class="col-md-12 mb-4">
                            <div class="form-group">
                                <!-- <label for="username"  class="text-info">Email:</label><br> -->
                                <input type="email" placeholder="Email" class="form-control fs-14" (keyup)="validateEmail(user.email, user.password)" name="email"
                                    id="email" #email="ngModel" [(ngModel)]="user.email" required />
                            </div>
                        </div>
                        <!-- password -->
                        <div class="col-md-12 mb-4">
                            <div class="form-group">
                                <!-- <label for="password" class="text-info">Password:</label><br> -->
                                <input type="password" placeholder="Password" class="form-control fs-14"
                                    id="password" #password="ngModel" (keyup)="validateEmail(user.email, user.password)" [(ngModel)]="user.password" name="password"
                                    appNoContainSpace="ngModel" required />
                            </div>
                            
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <button type="submit" [disabled]='validForm' name="submit"
                                    class="btn btn-primary  px-3 mx-1 py-2 w-100 fs-14 mb-2 mb-2"
                                    value="Login">Login</button>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4 d-flex fs-14">
                            <div class="form-group">
                                <p class=" text alert text-red font-weight-bold">{{message}}</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>