<div class="custom-tab-01">
    <mat-horizontal-stepper [@.disabled]="true" #stepper>
        <!-- General Info -->
        <mat-step>
            <ng-template matStepLabel>{{ 'registarationStepperNames.generalInfo' | translate }}</ng-template>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12 px-4 pb-2 ">
                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                        matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.generalInfo.cRNumber' | translate }}</h5>
                    <p class="fs-14">1567 6578</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.generalInfo.arabicName' | translate }}</h5>
                    <p class="fs-14 px-4">آر بالا</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.generalInfo.englishName' | translate }}</h5>
                    <p class="fs-14">R Bala</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12 px-4 ">
                    <h4 class="dark-grey-bg px-4 py-2 fs-16 font-weight-bold mb-3 dark-text-1  ">
                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                            matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>{{ 'internationalRegistration.generalInfo.companyInfo' | translate }}
                    </h4>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 px-4">{{ 'internationalRegistration.generalInfo.companyName' | translate }}</h5>
                    <p class="fs-14 px-4">Company Name</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 px-4">{{ 'internationalRegistration.generalInfo.companyCRNumber' | translate }}</h5>
                    <p class="fs-14 px-4">1567 6578</p>
                </div>
            </div>

            <div class="row" *ngIf="generalInfoStep$ | async">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">

                        <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">

                        <table class="table table-striped ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th></th>
                                    <th scope="col">{{ 'internationalRegistration.generalInfo.addressID' | translate }}</th>
                                    <th scope="col">{{ 'internationalRegistration.generalInfo.addressLine1' | translate }}</th>
                                    <th scope="col">{{ 'internationalRegistration.generalInfo.addressLine2' | translate }}</th>
                                    <th scope="col">{{ 'internationalRegistration.generalInfo.language' | translate }}</th>
                                    <th scope="col">{{ 'internationalRegistration.generalInfo.country' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of allAddresses | filter : searchText; index as index">
                                    <td *ngIf="data.isMoci">
                                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                                            matTooltip="Data fetched from interface - not editable"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci"></td>
                                    <td>
                                        {{index + 1}}
                                    </td>
                                    <td>
                                        {{data.addressLine1}}
                                    </td>
                                    <td>
                                        {{data.addressLine2}}
                                    </td>
                                    <td>
                                        {{data.language}}
                                    </td>
                                    <td>
                                        {{data.country}}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">{{ 'internationalRegistration.generalInfo.remarks/Notes' | translate }}</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        [disabled]="true"><i class="fa fa-caret-left"></i>  {{ 'buttonsLabel.previous' | translate }}</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" matStepperNext> {{ 'buttonsLabel.next' | translate }}
                        <i class="fa fa-caret-right"></i></button>
                </div>
            </div>

        </mat-step>
        <!-- Personal Details -->
        <mat-step>
            <ng-template matStepLabel>{{ 'registarationStepperNames.personalDetails' | translate }}</ng-template>

            <div class="row">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">
                        <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">


                        <table class="table table-striped">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th></th>
                                    <th scope="col" class="custom-width-60" (click)="sorting('personal','personName')">
                                        {{'internationalRegistration.personalDetails.personname' | translate }}<i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','nationality')">{{'internationalRegistration.personalDetails.nationality' | translate }}  <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','idType')">{{'internationalRegistration.personalDetails.i.DType' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','idNo')">{{'internationalRegistration.personalDetails.i.DNo.' | translate }} <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','designation')">{{'internationalRegistration.personalDetails.designation' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','residentNo')">{{'internationalRegistration.personalDetails.residentCardNumber' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','passport')">{{'internationalRegistration.personalDetails.passport' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="personalData">
                                <tr>
                                <tr *ngFor="let data of personalData | filter : searchText; index as index">
                                    <td *ngIf="data.isMoci">
                                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                                            matTooltip="Data fetched from interface - not editable"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci"></td>
                                    <td>
                                        {{data.personName}}</td>
                                    <td>
                                        {{data.nationality}}</td>
                                    <td>
                                        {{data.idType}} </td>
                                    <td>
                                        {{data.idNo}}</td>
                                    <td>
                                        {{data.designation}}
                                    </td>
                                    <td>
                                        {{data.residentNo}}
                                    </td>
                                    <td>
                                        {{data.passport}}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">{{ 'internationalRegistration.generalInfo.remarks/Notes' | translate }}</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" matStepperPrevious><i
                            class="fa fa-caret-left"></i> {{ 'buttonsLabel.previous' | translate }}</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" matStepperNext>{{ 'buttonsLabel.next' | translate }}
                        <i class="fa fa-caret-right"></i></button>
                </div>
            </div>

        </mat-step>
        <!-- Communication Methods -->
        <mat-step>
            <ng-template matStepLabel>{{ 'registarationStepperNames.communicationMethod' | translate }}</ng-template>

            <ng-container *ngIf="communicationData">

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-12 px-4 pb-2 ">
                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                            matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.communicationMethod.telephone' | translate }}</h5>
                        <p class="fs-14">{{communicationData.telephone || '-' }}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.communicationMethod.p.O.Box' | translate }}</h5>
                        <p class="fs-14">{{communicationData.poBox || '-' }}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.communicationMethod.fax' | translate }}</h5>
                        <p class="fs-14">{{communicationData.fax || '-' }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.communicationMethod.legalStatus' | translate }}</h5>
                        <p class="fs-14">{{communicationData.legalStatus || '-'}}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.communicationMethod.pC' | translate }}</h5>
                        <p class="fs-14">{{communicationData.pc || '-'}}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.communicationMethod.email' | translate }}</h5>
                        <p class="fs-14">{{communicationData.email || '-'}}</p>
                        <!-- <input type="email" class="fs-14" [(ngModel)]=comunicationData.email> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 px-4">
                        <p class="dark-text-1 fs-14 font-weight-bold mb-0">{{ 'internationalRegistration.generalInfo.remarks/Notes' | translate }}</p>
                        <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                    </div>
                </div>
            </ng-container>


            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" matStepperPrevious><i
                            class="fa fa-caret-left"></i> {{ 'buttonsLabel.previous' | translate }}</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" matStepperNext>{{ 'buttonsLabel.next' | translate }}
                        <i class="fa fa-caret-right"></i></button>
                </div>
            </div>
        </mat-step>
        <!-- Commercial Info -->
        <mat-step>
            <ng-template matStepLabel>{{ 'registarationStepperNames.commercialInfo' | translate }}</ng-template>

            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="Activity Info">
                    <ng-container *ngIf="activityDetail">
                        <div class="row">
                            <div class="col-md-12 px-4 mb-3 mt-3">
                                <div class="table-responsive">

                                    <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">

                                    <table class="table table-striped ">
                                        <thead>
                                            <tr class="purple-bg text-white">
                                                <th></th>
                                                <th scope="col" class="custom-width-60"
                                                    (click)="sorting('activity','activityName')">{{ 'internationalRegistration.commercialInfo.activityName' | translate }}
                                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                                </th>
                                                <th scope="col" (click)="sorting('activity','subActivity')">{{ 'internationalRegistration.commercialInfo.subActivity' | translate }}
                                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of activityData | filter : searchText; index as index">
                                                <td *ngIf="data.isMoci">
                                                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                                                        matTooltip="Data fetched from interface - not editable"
                                                        aria-hidden="true"></i>
                                                </td>
                                                <td *ngIf="!data.isMoci"></td>
                                                <td>
                                                    {{data.activityName}}
                                                </td>
                                                <td>
                                                    {{data.subActivity}}
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 mb-5">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.commercialInfo.establishmentdate' | translate }}</h5>
                                <p class="fs-14">{{activityDetail.establishmentDate}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.commercialInfo.registrationDate' | translate }}</h5>
                                <p class="fs-14">{{activityDetail.regDate}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.commercialInfo.expiryDate' | translate }} </h5>
                                <p class="fs-14">{{activityDetail.expDate}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.commercialInfo.companyGrade' | translate }}</h5>
                                <p class="fs-14">company grade</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 px-4">
                                <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                                <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperPrevious><i class="fa fa-caret-left"></i>
                                {{ 'buttonsLabel.previous' | translate }}</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                (click)="changeTab()">{{ 'buttonsLabel.next' | translate }} <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Bank Details">
                    <ng-container *ngIf="bankDetails">

                        <div class="shadow p-3 mb-5" *ngFor="let data of bankDetails; index as index">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12 px-4 pb-2 " *ngIf="data.isMoci">
                                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                                        matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'localRegistration.bankDetails.bankingId' | translate }}</h5>
                                    <p class="fs-14">{{index + 1}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'localRegistration.bankDetails.bankingIdName' | translate }}</h5>
                                    <p class="fs-14">{{data.bankingIdname}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'internationalRegistration.commercialInfo.bankAccount' | translate }}</h5>
                                    <p class="fs-14">{{data.bankAcc}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'localRegistration.bankDetails.bankName' | translate }}</h5>
                                    <p class="fs-14">{{data.bankName}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'localRegistration.bankDetails.bankBranch' | translate }}</h5>
                                    <p class="fs-14">{{data.bankBranch}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">{{ 'localRegistration.bankDetails.accountholdername' | translate }}</h5>
                                    <p class="fs-14">{{data.holderName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 px-4">
                                <p class="dark-text-1 fs-14 font-weight-bold mb-0">{{ 'internationalRegistration.generalInfo.remarks/Notes' | translate }}</p>
                                <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i>
                                {{ 'buttonsLabel.previous' | translate }}</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                (click)="changeTab()">{{ 'buttonsLabel.next' | translate }} <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Other Info">
                    <ng-container *ngIf="otherData">
                        <div class="row">

                            <div class="col-md-12 px-4 mb-3 mt-3">
                                <div class="table-responsive">
                                    <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">
                                    <table class="table table-striped mb-0 ">
                                        <thead>
                                            <tr class="purple-bg text-white">
                                                <th></th>
                                                <th scope="col">{{'internationalRegistration.commercialInfo.no.' | translate }} </th>
                                                <th scope="col" (click)="sorting('other','name')">{{'internationalRegistration.commercialInfo.label' | translate }} <i
                                                        class="fa fa-sort" aria-hidden="true"></i></th>
                                                <th scope="col" (click)="sorting('other','value')">{{'internationalRegistration.commercialInfo.value' | translate }} <i
                                                        class="fa fa-sort" aria-hidden="true"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of otherData | filter : searchText; index as index">
                                                <td *ngIf="data.isMoci">
                                                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                                                        matTooltip="Data fetched from interface - not editable"
                                                        aria-hidden="true"></i>
                                                </td>
                                                <td *ngIf="!data.isMoci"></td>
                                                <td>{{index + 1}}</td>
                                                <td>{{data.name}}
                                                </td>
                                                <td>{{data.value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 px-4">
                                <p class="dark-text-1 fs-14 font-weight-bold mb-0">{{ 'internationalRegistration.generalInfo.remarks/Notes' | translate }}</p>
                                <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                            </div>
                        </div>
                    </ng-container>

                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i>
                                {{ 'buttonsLabel.previous' | translate }}</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                matStepperNext>{{ 'buttonsLabel.next' | translate }} <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </mat-step>
        <!-- Staff Details -->
        <mat-step>
            <ng-template matStepLabel>{{ 'registarationStepperNames.employeeDetails' | translate }}</ng-template>

            <div class="row">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">

                        <input class="fs-16 custom-height-35" [(ngModel)]="searchText" placeholder="Search text">

                        <table class="table table-striped ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th></th>
                                    <th scope="col" (click)="sorting('staff','name')">{{ 'internationalRegistration.employeeDetails.employeeName' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','qualification')">{{ 'internationalRegistration.employeeDetails.employeeQualification' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','specialization')">{{ 'internationalRegistration.employeeDetails.employeeSpecialization' | translate }}
                                        <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','jobTitle')">{{ 'internationalRegistration.employeeDetails.jobtitle' | translate }}  <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','designation')">{{ 'internationalRegistration.employeeDetails.designationType' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','designationDate')">{{ 'internationalRegistration.employeeDetails.designationdate' | translate }}  <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','expDate')">{{ 'internationalRegistration.employeeDetails.expireddate' | translate }}  <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','experiance')">{{ 'internationalRegistration.employeeDetails.experience' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','appointmentDate')">{{ 'internationalRegistration.employeeDetails.appointmentDate' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','status')">{{ 'internationalRegistration.employeeDetails.status' | translate }} <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','statusDate')">{{ 'internationalRegistration.employeeDetails.statusdate' | translate }} <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="staffData && staffData.length > 0">
                                <tr *ngFor="let data of staffData | filter : searchText; index as index">
                                    <td *ngIf="data.isMoci">
                                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                                            matTooltip="Data fetched from interface - not editable"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci">
                                    </td>
                                    <td>
                                        {{data.name}}</td>
                                    <td>
                                        {{data.qualification}}</td>
                                    <td>
                                        {{data.specialization}}
                                    </td>
                                    <td>
                                        {{data.jobTitle}}</td>
                                    <td>
                                        {{data.designation}}</td>
                                    <td>
                                        {{data.designationDate}}
                                    </td>
                                    <td>
                                        {{data.expDate}}</td>
                                    <td>
                                        {{data.experience}}</td>
                                    <td>
                                        {{data.appointmentDate}}
                                    </td>
                                    <td>
                                        {{data.status}}</td>
                                    <td>
                                        {{data.statusDate}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">{{ 'internationalRegistration.generalInfo.remarks/Notes' | translate }}</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" matStepperPrevious><i
                            class="fa fa-caret-left"></i>  {{ 'buttonsLabel.previous' | translate }}</button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        [disabled]="true">{{ 'buttonsLabel.next' | translate }}  <i class="fa fa-caret-right"></i> </button>
                    <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 fs-14 mb-2">{{ 'admin.login.home' | translate }}</button>
                    </a>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>