<div class="custom-tab-01">
    <mat-horizontal-stepper [@.disabled]="true" #stepper>
        <!-- General Info -->
        <mat-step>
            <ng-template matStepLabel>General Info</ng-template>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12 px-4 pb-2 ">
                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                        matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">C R Number</h5>
                    <p class="fs-14">1567 6578</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Arabic Name</h5>
                    <p class="fs-14 px-4">آر بالا</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">English Name</h5>
                    <p class="fs-14">R Bala</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12 px-4 ">
                    <h4 class="dark-grey-bg px-4 py-2 fs-16 font-weight-bold mb-3 dark-text-1  ">
                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                            matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i> Company Info
                    </h4>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 px-4">Company Name</h5>
                    <p class="fs-14 px-4">Company Name</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 px-4">Company C R Number</h5>
                    <p class="fs-14 px-4">1567 6578</p>
                </div>
            </div>

            <div class="row" *ngIf="generalInfoStep$ | async">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">

                        <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">

                        <table class="table table-striped ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th></th>
                                    <th scope="col">Address Id</th>
                                    <th scope="col">Address Line 1</th>
                                    <th scope="col">Address Line 2</th>
                                    <th scope="col">Language</th>
                                    <th scope="col">Country</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of allAddresses | filter : searchText; index as index">
                                    <td *ngIf="data.isMoci">
                                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                                            matTooltip="Data fetched from interface - not editable"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci"></td>
                                    <td>
                                        {{index + 1}}
                                    </td>
                                    <td>
                                        {{data.addressLine1}}
                                    </td>
                                    <td>
                                        {{data.addressLine2}}
                                    </td>
                                    <td>
                                        {{data.language}}
                                    </td>
                                    <td>
                                        {{data.country}}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        [disabled]="true"><i class="fa fa-caret-left"></i> Previous</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" matStepperNext>Next
                        <i class="fa fa-caret-right"></i></button>
                </div>
            </div>

        </mat-step>
        <!-- Personal Details -->
        <mat-step>
            <ng-template matStepLabel>Personal Details</ng-template>

            <div class="row">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">
                        <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">


                        <table class="table table-striped">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th></th>
                                    <th scope="col" class="custom-width-60" (click)="sorting('personal','personName')">
                                        Person name <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','nationality')">Nationality <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','idType')">I.D Type <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','idNo')">I.D No. <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','designation')">Designation <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','residentNo')">Resident card Number <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','passport')">Passport <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="personalData">
                                <tr>
                                <tr *ngFor="let data of personalData | filter : searchText; index as index">
                                    <td *ngIf="data.isMoci">
                                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                                            matTooltip="Data fetched from interface - not editable"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci"></td>
                                    <td>
                                        {{data.personName}}</td>
                                    <td>
                                        {{data.nationality}}</td>
                                    <td>
                                        {{data.idType}} </td>
                                    <td>
                                        {{data.idNo}}</td>
                                    <td>
                                        {{data.designation}}
                                    </td>
                                    <td>
                                        {{data.residentNo}}
                                    </td>
                                    <td>
                                        {{data.passport}}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" matStepperPrevious><i
                            class="fa fa-caret-left"></i> Previous</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" matStepperNext>Next
                        <i class="fa fa-caret-right"></i></button>
                </div>
            </div>

        </mat-step>
        <!-- Communication Methods -->
        <mat-step>
            <ng-template matStepLabel>Communication Methods</ng-template>

            <ng-container *ngIf="communicationData">

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-12 px-4 pb-2 ">
                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                            matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Telephone</h5>
                        <p class="fs-14">{{communicationData.telephone || '-' }}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">P.O. Box</h5>
                        <p class="fs-14">{{communicationData.poBox || '-' }}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Fax</h5>
                        <p class="fs-14">{{communicationData.fax || '-' }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">legal status</h5>
                        <p class="fs-14">{{communicationData.legalStatus || '-'}}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">PC</h5>
                        <p class="fs-14">{{communicationData.pc || '-'}}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Email</h5>
                        <p class="fs-14">{{communicationData.email || '-'}}</p>
                        <!-- <input type="email" class="fs-14" [(ngModel)]=comunicationData.email> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 px-4">
                        <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                        <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                    </div>
                </div>
            </ng-container>


            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" matStepperPrevious><i
                            class="fa fa-caret-left"></i> Previous</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" matStepperNext>Next
                        <i class="fa fa-caret-right"></i></button>
                </div>
            </div>
        </mat-step>
        <!-- Commercial Info -->
        <mat-step>
            <ng-template matStepLabel>Commercial Info</ng-template>

            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="Activity Info">
                    <ng-container *ngIf="activityDetail">
                        <div class="row">
                            <div class="col-md-12 px-4 mb-3 mt-3">
                                <div class="table-responsive">

                                    <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">

                                    <table class="table table-striped ">
                                        <thead>
                                            <tr class="purple-bg text-white">
                                                <th></th>
                                                <th scope="col" class="custom-width-60"
                                                    (click)="sorting('activity','activityName')">Activity Name
                                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                                </th>
                                                <th scope="col" (click)="sorting('activity','subActivity')">Sub Activity
                                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of activityData | filter : searchText; index as index">
                                                <td *ngIf="data.isMoci">
                                                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                                                        matTooltip="Data fetched from interface - not editable"
                                                        aria-hidden="true"></i>
                                                </td>
                                                <td *ngIf="!data.isMoci"></td>
                                                <td>
                                                    {{data.activityName}}
                                                </td>
                                                <td>
                                                    {{data.subActivity}}
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 mb-5">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Establishment date</h5>
                                <p class="fs-14">{{activityDetail.establishmentDate}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Registration Date</h5>
                                <p class="fs-14">{{activityDetail.regDate}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Expiry Date </h5>
                                <p class="fs-14">{{activityDetail.expDate}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Company Grade</h5>
                                <p class="fs-14">company grade</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 px-4">
                                <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                                <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperPrevious><i class="fa fa-caret-left"></i>
                                Previous</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                (click)="changeTab()">Next <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Bank Details">
                    <ng-container *ngIf="bankDetails">

                        <div class="shadow p-3 mb-5" *ngFor="let data of bankDetails; index as index">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12 px-4 pb-2 " *ngIf="data.isMoci">
                                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                                        matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Banking Id</h5>
                                    <p class="fs-14">{{index + 1}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Banking Id Name</h5>
                                    <p class="fs-14">{{data.bankingIdname}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Account</h5>
                                    <p class="fs-14">{{data.bankAcc}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Name</h5>
                                    <p class="fs-14">{{data.bankName}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Branch</h5>
                                    <p class="fs-14">{{data.bankBranch}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Account Holder Name</h5>
                                    <p class="fs-14">{{data.holderName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 px-4">
                                <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                                <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i>
                                Previous</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                (click)="changeTab()">Next <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Other Info">
                    <ng-container *ngIf="otherData">
                        <div class="row">

                            <div class="col-md-12 px-4 mb-3 mt-3">
                                <div class="table-responsive">
                                    <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">
                                    <table class="table table-striped mb-0 ">
                                        <thead>
                                            <tr class="purple-bg text-white">
                                                <th></th>
                                                <th scope="col">No. </th>
                                                <th scope="col" (click)="sorting('other','name')">Label <i
                                                        class="fa fa-sort" aria-hidden="true"></i></th>
                                                <th scope="col" (click)="sorting('other','value')">Value <i
                                                        class="fa fa-sort" aria-hidden="true"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of otherData | filter : searchText; index as index">
                                                <td *ngIf="data.isMoci">
                                                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                                                        matTooltip="Data fetched from interface - not editable"
                                                        aria-hidden="true"></i>
                                                </td>
                                                <td *ngIf="!data.isMoci"></td>
                                                <td>{{index + 1}}</td>
                                                <td>{{data.name}}
                                                </td>
                                                <td>{{data.value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 px-4">
                                <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                                <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                            </div>
                        </div>
                    </ng-container>

                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i>
                                Previous</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                matStepperNext>Next <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </mat-step>
        <!-- Staff Details -->
        <mat-step>
            <ng-template matStepLabel>Employee Details</ng-template>

            <div class="row">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">

                        <input class="fs-16 custom-height-35" [(ngModel)]="searchText" placeholder="Search text">

                        <table class="table table-striped ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th></th>
                                    <th scope="col" (click)="sorting('staff','name')">Employee Name <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','qualification')">Employee Qualification <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','specialization')">Employee Specialization
                                        <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','jobTitle')">Job title <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','designation')">Designation Type <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','designationDate')">Designation date <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','expDate')">Expired date <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','experiance')">Experience <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','appointmentDate')">Appointment Date <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','status')">Status <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('staff','statusDate')">Status date <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="staffData && staffData.length > 0">
                                <tr *ngFor="let data of staffData | filter : searchText; index as index">
                                    <td *ngIf="data.isMoci">
                                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                                            matTooltip="Data fetched from interface - not editable"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci">
                                    </td>
                                    <td>
                                        {{data.name}}</td>
                                    <td>
                                        {{data.qualification}}</td>
                                    <td>
                                        {{data.specialization}}
                                    </td>
                                    <td>
                                        {{data.jobTitle}}</td>
                                    <td>
                                        {{data.designation}}</td>
                                    <td>
                                        {{data.designationDate}}
                                    </td>
                                    <td>
                                        {{data.expDate}}</td>
                                    <td>
                                        {{data.experience}}</td>
                                    <td>
                                        {{data.appointmentDate}}
                                    </td>
                                    <td>
                                        {{data.status}}</td>
                                    <td>
                                        {{data.statusDate}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" matStepperPrevious><i
                            class="fa fa-caret-left"></i> Previous</button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        [disabled]="true">Next <i class="fa fa-caret-right"></i> </button>
                    <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Home</button>
                    </a>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>