<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-white mb-0">
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">Supplier
                            Collaboration </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Supplier Grade Details </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dark-grey-bg ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Supplier Grade Details</h2>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid  mt-3 bg-white px-4 pt-4">
    <div class="container-fluid ">
        <div class="row mt-3 mt-3">
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Supplier Name</h5>
                <p class="fs-16 text-black dark-text-1 ">R. Bala</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Segment</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Family</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Class (Activity)</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Commodity (Sub Activity)</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Valid Form</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Valid To</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Grade</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Status</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Value of Work</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Registration Fee</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Working Area</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Date of Update</h5>
                <p class="fs-16 text-black dark-text-1 ">-</p>
            </div>
        </div>

        <div class="row mt-2 mt-md-5">
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
            </div>
            <div class="col-md-3 col-lg-3 col-xl-4  px-4">
            </div>
        </div>
    </div>
</section>