<app-landing-header (onViewSidebar)="onViewSidebar($event)" [showsidebar]="true" [menuData]="menus">
</app-landing-header>
<div class="landing-portal-content" [class.viewOpen]="!viewSideBar">
  <section>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb bg-white mb-0">
            <ng-container *ngFor="let data of url">
              <li class="breadcrumb-item" *ngIf="data != ''"><a>{{data}}</a></li>
            </ng-container>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-grey-bg ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 ">
          <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">{{title}}</h2>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>