<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-white mb-0">
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">E-Tendering</a>
                    </li>
                    <li class="breadcrumb-item active">Tender Addendums</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dark-grey-bg ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Tender Addendums</h2>
            </div>
        </div>
    </div>
</section>

<div class="custom-tab-01">
    <mat-horizontal-stepper [@.disabled]="true" #stepper *ngIf="tenderAddendum">
        <!-- Request SIte visit -->
        <mat-step>
            <ng-template matStepLabel>Site Visit</ng-template>

            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{tenderAddendum.tenderNo}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{tenderAddendum.tenderTitle}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                    <p class="fs-14 ">{{tenderAddendum.revisionNo}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{tenderAddendum.siteID}}</p>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14">{{tenderAddendum.siteDescription}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Addendum Id</h5>
                    <p class="fs-14">{{tenderAddendum.addendumId}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Addendum Date</h5>
                    <p class="fs-14">{{tenderAddendum.addendumDate}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Query No</h5>
                    <p class="fs-14">{{tenderAddendum.queryNo}}</p>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Query Type</h5>
                    <p class="fs-14">{{tenderAddendum.queryType}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Visit Date and Time</h5>
                    <p class="fs-14">{{tenderAddendum.siteVisit.visitDateAndTime}} </p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Location</h5>
                    <p class="fs-14">{{tenderAddendum.siteVisit.location}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Visit Remarks
                    </h5>
                    <p class="fs-14">{{tenderAddendum.siteVisit.visitRemarks}}</p>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Special Instruction</h5>
                    <p class="fs-14">{{tenderAddendum.siteVisit.specialInstruction}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Gate Pass</h5>
                    <!-- <p class="fs-14">Yes / No</p> -->
                    <mat-form-field appearance="fill" class="mt-0">
                        <mat-select>
                            <mat-option [value]="'yes'">
                                Yes
                            </mat-option>
                            <mat-option [value]="'no'">
                                No
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Project Engg. Name</h5>
                    <p class="fs-14">{{tenderAddendum.siteVisit.projectEngName}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Contact Number</h5>
                    <p class="fs-14">{{tenderAddendum.siteVisit.contactNumber}}</p>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status
                    </h5>
                    <p class="fs-14">{{tenderAddendum.tenderStatus}}</p>
                </div>
            </div>


            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        [disabled]="true"><i class="fa fa-caret-left" matStepperPrevious></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                        as draft
                    </button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button>

                </div>
            </div>

        </mat-step>

        <!--  Tender Extension -->
        <mat-step>
            <ng-template matStepLabel>Extension of Time</ng-template>

            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{tenderAddendum.tenderNo}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{tenderAddendum.tenderTitle}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                    <p class="fs-14 ">{{tenderAddendum.revisionNo}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{tenderAddendum.siteID}}</p>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14">{{tenderAddendum.siteDescription}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Addendum Id</h5>
                    <p class="fs-14">{{tenderAddendum.addendumId}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Addendum Date</h5>
                    <p class="fs-14">{{tenderAddendum.addendumDate}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Query No</h5>
                    <p class="fs-14">{{tenderAddendum.queryNo}}</p>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Query Type</h5>
                    <p class="fs-14">{{tenderAddendum.queryType}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Extension Time</h5>
                    <p class="fs-14">{{tenderAddendum.extensions.extensionDate}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Extension Time</h5>
                    <p class="fs-14">{{tenderAddendum.extensions.extensionTime}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status
                    </h5>
                    <p class="fs-14">{{tenderAddendum.tenderStatus}}</p>
                </div>
            </div>


            <div class="row mt-5 ml-2">
                <div class="col-md-12  px-4 pb-2">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Extension Remarks</h5>
                </div>
                <div class="col-md-6  px-4 pb-2">
                    <textarea name="" class="form-control" id="" rows="5">{{tenderAddendum.extensions.extensionRemarks}}</textarea>
                </div>
            </div>


            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <a routerLink="/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                        as draft
                    </button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button>

                </div>
            </div>

        </mat-step>

        <!--  Technical inquiry -->
        <mat-step>
            <ng-template matStepLabel>Technical Inquiry</ng-template>

            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="SUPPLY LINES">

                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{tenderAddendum.tenderNo}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{tenderAddendum.tenderTitle}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{tenderAddendum.siteID}}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14">{{tenderAddendum.siteDescription}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status
                            </h5>
                            <p class="fs-14">{{tenderAddendum.tenderStatus}}</p>
                        </div>

                    </div>

                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mt-3 ml-2">
                        <!-- <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Establishment date</h5>
                            <p class="fs-14">{{formData.generalInfo.regDate}}</p>
                        </div> -->


                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Item/Part Code
                                            </th>
                                            <th scope="col">Item/Part Code Description
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Unit Price (OMR)
                                            </th>
                                            <th scope="col">Total Price (OMR)
                                            </th>
                                            <th scope="col">Document Attachment
                                            </th>
                                            <th scope="col">Queries
                                            </th>
                                            <th scope="col">Responses</th>
                                            <th scope="col">Query No
                                            </th>
                                            <th scope="col">Query Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody  *ngIf="filterItemData">
                                        <tr *ngFor="let item of filterItemData; let i =  index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.partCode  }}</td>
                                            <td>{{ item.partCodeDescription  }}</td>
                                            <td>{{ item.uom  }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>-</td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td>{{ item.query }}</td>
                                            <td>{{ item.response }}</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>

                            <button type="button" class="btn border  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="changeTab()" [disabled]="selected.value == 2">Next <i
                                    class="fa fa-caret-right"></i></button>



                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                                as draft
                            </button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="SERVICE LINES">
                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">09/2017/MT</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">Supply & Commissioning of A/C Equipment's</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">1a</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 px-2">-</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 px-2">Published</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3 ml-2">

                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Item/Part Code Description
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Unit Price (OMR)
                                            </th>
                                            <th scope="col">Total Price (OMR)
                                            </th>
                                            <th scope="col">
                                                Document Attachment
                                            </th>
                                            <th scope="col">Queries
                                            </th>
                                            <th scope="col">Responses</th>
                                            <th scope="col">Query No
                                            </th>
                                            <th scope="col">Query Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody  *ngIf="filterItemData">
                                        <tr *ngFor="let item of filterItemData; let i =  index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.partCodeDescription  }}</td>
                                            <td>{{ item.uom  }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>-</td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td>{{ item.query }}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous </button>

                            <button type="button" class="btn border  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="changeTab()" [disabled]="selected.value == 2">Next <i
                                    class="fa fa-caret-right"></i></button>



                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                                as draft
                            </button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="CONTRACT BOQS">
                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">09/2017/MT</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">Supply & Commissioning of A/C Equipment's</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">1a</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 px-2">-</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 px-2">Published</p>
                        </div>
                    </div>
                    <div class="row mt-3 ml-2">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <!-- <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Line Name
                                            </th>
                                            <th scope="col">Line Description
                                            </th>
                                            <th scope="col">Item No
                                            </th>
                                            <th scope="col">Item Name
                                            </th>
                                            <th scope="col">Item Description
                                            </th>
                                            <th scope="col">Item Type
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Item Rate
                                            </th>
                                            <th scope="col">Value
                                            </th>
                                            <th scope="col">Document Attachment
                                            </th>
                                            <th scope="col">Responses</th>
                                            <th scope="col">Query No
                                            </th>
                                            <th scope="col">Query Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No</th>
                                            <th scope="col">Line Name</th>
                                            <th scope="col">Line Description</th>
                                            <th scope="col">Value Contract Currency</th>
                                            <th scope="col">Value Company Currency</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="contractData">
                                        <tr *ngFor="let line of contractData;let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ line.lineName }}</td>
                                            <td>{{ line.lineDescription }}</td>
                                            <td> {{ line.contractCurrency }}</td>
                                            <td>{{ line.companyCurrency }}</td>
                                            <td><i (click)="contractExpand(line, i)" class="fa" [ngClass]="{'fa-chevron-circle-up': selectedContractIndex !== i, 'fa-chevron-circle-down': selectedContractIndex === i }"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><div class="row mt-3" *ngIf="selectedContract">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <h3>Items</h3>
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr class="purple-bg text-white">
                                            <th scope="col">Item No</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Item Description</th>
                                            <th scope="col">Item Type</th>
                                            <th scope="col">UoM</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Item Rate</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of selectedContract;let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.itemName  }}</td>
                                            <td>{{ item.itemDescription  }}</td>
                                            <td>{{ item.itemType  }}</td>
                                            <td>{{ item.uom }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.itemRate }}</td>
                                            <td>{{ item.value }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous </button>

                            <button type="button" class="btn border  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                [disabled]="true">Next <i class="fa fa-caret-right"></i></button>

                            <a routerLink="/e-tendering/submit-tender-bids">
                                <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                    matStepperNext>Done
                                </button>
                            </a>
                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2">Save
                                as draft
                            </button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>


        </mat-step>

    </mat-horizontal-stepper>
</div>