<section class="dark-grey-bg mt-3">
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-md-12 col-xl-9 col-lg-9 ">
                <!-- <h2 class="ml-2">HOME</h2> -->
            </div>
        </div>
    </div>
</section>
<div class="align-items-center d-flex h-100 justify-content-center">
    <div class="row card-div">
        <div class="col-md-4">
            <div class="card-custom dark-grey-bg-2 text-white d-flex justify-content-center align-items-center">
                <h2 routerLink="/admin/cms" class="center">CMS</h2>
            </div>
        </div>
        <div class="col-md-4">
           <div class="card-custom light-green-bg text-black d-flex justify-content-center align-items-center">
               <h2 routerLink="/admin/suppler-register-request-info" class="center">Supplier</h2>
           </div>
        </div>
        <div class="col-md-4">
            <div class="card-custom orange-bg text-white d-flex justify-content-center align-items-center">
                <h2 routerLink="/admin/alert-messages" class="center">Alert Messages</h2>
            </div>
        </div>
    </div>
</div>