<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-white mb-0">
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">E-Tendring</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Submit Tender Bids</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dark-grey-bg ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Submit Tender Bids</h2>
            </div>
        </div>
    </div>
</section>
<div class="mt-2">
    <!-- Show files Pop up-->
    <ng-template #shoeFiles let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> Files
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.close('Save click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body custom-modal-main">
            <section class=" bg-white " style="min-height: 300px !important;">
                <ng-container *ngIf=" filesList && filesList.length != 0; else fileListTemplate">
                    <div class="dark-text-1">
                        Added File Names
                    </div>
                    <ul *ngFor="let item of filesList" style="background-color: white !important;">
                        <li style="list-style-type: disc !important;">
                            <span>
                                {{item.name}}
                            </span>
                            <span class="pr-4 " style="float: right;max-height: 80%; right:5%;">
                                <i class="fa fa-trash-o btn btn-danger" (click)="deleteFile(item)"></i>
                            </span>
                        </li>
                        <hr>
                    </ul>
                </ng-container>
                <ng-template #fileListTemplate>
                    No Files Added
                </ng-template>

            </section>
            <hr>
            <section class="bg-white">
                <div>Add New File</div>
                <mat-card>
                    <mat-card-actions>
                        <button mat-button color="warn" (click)="onClick()">
                            <mat-icon>file_upload</mat-icon>
                            Upload
                        </button>
                    </mat-card-actions>
                </mat-card>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="submit"
                (click)="modal.close('Save click')">Done</button>
        </div>
    </ng-template>


    <mat-horizontal-stepper [@.disabled]="true" #stepper *ngIf="tenderBidsDetails">
        <!-- Commercial Offers -->
        <mat-step>
            <ng-template matStepLabel>Commercial Offers</ng-template>
            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="SUPPLY LINES">

                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{tenderBidsDetails.tenderNo}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{tenderBidsDetails.tenderTitle}}</p>
                        </div>
                        <!-- <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <p class="fs-14">1</p>
                        </div> -->
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{tenderBidsDetails.siteId}}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 px-2">{{tenderBidsDetails.siteDescription}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 px-2">{{tenderBidsDetails.tenderStatus}}</p>
                        </div>

                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3 ml-2">
                        <!-- <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Establishment date</h5>
                            <p class="fs-14">{{formData.generalInfo.regDate}}</p>
                        </div> -->


                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Item/Part Code
                                            </th>
                                            <th scope="col">Item/Part Code Description
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Unit Price (OMR)
                                            </th>
                                            <th scope="col">Total Price (OMR)
                                            </th>
                                            <th scope="col">Document Attachment
                                            </th>
                                            <th scope="col">Queries
                                            </th>
                                            <th scope="col">Responses</th>
                                            <th scope="col">Query No
                                            </th>
                                            <th scope="col">Query Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="filterItemData">
                                        <tr *ngFor="let item of filterItemData.supplyLine; let i =  index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.partCode  }}</td>
                                            <td>{{ item.partCodeDescription  }}</td>
                                            <td>{{ item.uom  }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>-</td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td>{{ item.queries }}</td>
                                            <td>{{ item.response }}</td>
                                            <td>{{ item.queryNo }}</td>
                                            <td>{{ item.queryType }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperPrevious disabled><i class="fa fa-caret-left"></i> Previous </button>
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="changeTab()">Next <i class="fa fa-caret-right"></i></button>
                            <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                disabled>Complete
                            </button> -->
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                                <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                                </button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2"
                                (click)="submitOrSaveDraft('saveAsDraft')">Save
                                as draft
                            </button>
                            <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button> -->
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="SERVICE LINES">
                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{tenderBidsDetails.tenderNo}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{tenderBidsDetails.tenderTitle}}</p>
                        </div>
                        <!-- <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <p class="fs-14">1</p>
                        </div> -->
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{tenderBidsDetails.siteId}}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 px-2">{{tenderBidsDetails.siteDescription}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 px-2">{{tenderBidsDetails.tenderStatus}}</p>
                        </div>

                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3 ml-2">

                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Item/Part Code Description
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Unit Price (OMR)
                                            </th>
                                            <th scope="col">Total Price (OMR)
                                            </th>
                                            <th scope="col">
                                                Document Attachment
                                            </th>
                                            <th>Queries</th>
                                            <th scope="col">Responses</th>
                                            <th scope="col">Query No
                                            </th>
                                            <th scope="col">Query Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="filterItemData">
                                        <tr *ngFor="let item of filterItemData.serviceLine; let i =  index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.partCodeDescription  }}</td>
                                            <td>{{ item.uom  }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>-</td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td>{{ item.queries }}</td>
                                            <td>{{ item.response }}</td>
                                            <td>{{ item.queryNo }}</td>
                                            <td>{{ item.queryType }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous </button>

                            <button type="button" class="btn border  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="changeTab()" [disabled]="selected.value == 2">Next <i
                                    class="fa fa-caret-right"></i></button>
                            <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                    disabled>Complete
                            </button> -->
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                                <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                                </button>
                            </a>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2"
                                (click)="submitOrSaveDraft('saveAdDraft')">Save
                                as draft
                            </button>
                            <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button> -->
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="CONTRACT BOQS">
                    <div class="row mt-4 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                            <p class="fs-14">{{tenderBidsDetails.tenderNo}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                            <p class="fs-14 ">{{tenderBidsDetails.tenderTitle}}</p>
                        </div>
                        <!-- <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <p class="fs-14">1</p>
                        </div> -->
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                            <p class="fs-14 ">{{tenderBidsDetails.siteId}}</p>
                        </div>
                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                            <p class="fs-14 px-2">{{tenderBidsDetails.siteDescription}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                            <p class="fs-14 px-2">{{tenderBidsDetails.tenderStatus}}</p>
                        </div>

                    </div>
                    <div class="row mt-2 ml-2">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                            <!-- <p class="fs-14">1</p> -->
                            <mat-form-field appearance="fill" *ngIf="revisionNoArray">
                                <mat-select [(ngModel)]="revisionNo" (selectionChange)="revisionNoChange()">
                                    <mat-option *ngFor="let option of revisionNoArray" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3 ml-2">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                        class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <!-- <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No
                                            </th>
                                            <th scope="col">Line Name
                                            </th>
                                            <th scope="col">Line Description
                                            </th>
                                            <th scope="col">Item No
                                            </th>
                                            <th scope="col">Item Name
                                            </th>
                                            <th scope="col">Item Description
                                            </th>
                                            <th scope="col">Item Type
                                            </th>
                                            <th scope="col">UoM
                                            </th>
                                            <th scope="col">Quantity
                                            </th>
                                            <th scope="col">Item Rate
                                            </th>
                                            <th scope="col">Value
                                            </th>
                                            <th scope="col">Document Attachment
                                            </th>
                                            <th scope="col">Responses</th>
                                            <th scope="col">Query No
                                            </th>
                                            <th scope="col">Query Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><i class="fa fa-folder"></i></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table> -->

                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr class="purple-bg text-white">

                                            <th scope="col">Line No</th>
                                            <th scope="col">Line Name</th>
                                            <th scope="col">Line Description</th>
                                            <th scope="col">Value Contract Currency</th>
                                            <th scope="col">Value Company Currency</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="contractData">
                                        <tr *ngFor="let line of contractData;let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ line.lineName }}</td>
                                            <td>{{ line.lineDescription }}</td>
                                            <td> {{ line.contractCurrency }}</td>
                                            <td>{{ line.companyCurrency }}</td>
                                            <td><i (click)="contractExpand(line, i)" class="fa"
                                                    [ngClass]="{'fa-chevron-circle-up': selectedContractIndex !== i, 'fa-chevron-circle-down': selectedContractIndex === i }"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="selectedContract">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <h3>Items</h3>
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr class="purple-bg text-white">
                                            <th scope="col">Item No</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Item Description</th>
                                            <th scope="col">Item Type</th>
                                            <th scope="col">UoM</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Item Rate</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of selectedContract;let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ item.itemName  }}</td>
                                            <td>{{ item.itemDescription  }}</td>
                                            <td>{{ item.itemType  }}</td>
                                            <td>{{ item.uom }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.itemRate }}</td>
                                            <td>{{ item.value }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 ml-2">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous </button>

                            <button type="button" class="btn border  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperNext>Next <i class="fa fa-caret-right"></i></button>


                            <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                matStepperNext disabled>Complete
                            </button> -->
                            <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                                <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                                </button>
                            </a>
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                            <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2"
                                (click)="submitOrSaveDraft('saveAsDraft')">Save
                                as draft
                            </button>
                            <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                            </button> -->
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </mat-step>

        <!--  Technical Document Submissions -->
        <mat-step>
            <ng-template matStepLabel> Technical Document Submissions</ng-template>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{tenderBidsDetails.tenderNo}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{tenderBidsDetails.tenderTitle}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{tenderBidsDetails.siteId}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.siteDescription}}</p>
                </div>
            </div>
            <div class="row mt-3 ml-2">
                <div class="col  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.tenderStatus}}</p>
                </div>
            </div>
            <div class="row mt-4 ml-5">
                <div class="col">
                    <span class="fs-18 font-weight-bold text-black dark-text-1 mr-5">Tender Documents :</span>
                    <span class=" btn btn-info " (click)="openFile(shoeFiles)">
                        Documents <i class="fa fa-folder-open" aria-hidden="true"></i>
                        <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple"
                            style="display: none;" />
                    </span>
                </div>
            </div>

            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" disabled>Complete
                    </button> -->
                    <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                        </button>
                    </a>
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" (click)="clear(tenderStep.TENDER_DOCUMENT_SUBMISSION)">Clear</button>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2"
                        (click)="submitOrSaveDraft('saveAsDraft')">Save
                        as draft
                    </button>
                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button> -->
                </div>
            </div>

        </mat-step>

        <!--  Submit Bond Info -->
        <mat-step>
            <ng-template matStepLabel>Submit Bond Info</ng-template>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{tenderBidsDetails.tenderNo}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{tenderBidsDetails.tenderTitle}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{tenderBidsDetails.siteId}}</p>
                </div>
            </div>
            <div class="row mt-3 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.siteDescription}}</p>
                </div>
                <div class="col  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Revision No</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.revisionNo}}</p>
                </div>
            </div>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bond Number</h5>
                    <p class="fs-14">{{tenderBidsDetails.submitBondInfo.bondNumber}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bond Value in OMR
                    </h5>
                    <p class="fs-14 ">{{tenderBidsDetails.submitBondInfo.bondValueInOmr}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Name</h5>
                    <p class="fs-14 ">{{tenderBidsDetails.submitBondInfo.bankName}}</p>
                </div>
            </div>
            <div class="row mt-3 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bond Date</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.submitBondInfo.bankDate}}</p>
                </div>
                <div class="col  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bond Expiry Date</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.submitBondInfo.bondExpiryDate}}</p>
                </div>
            </div>
            <div class="row mt-4 ml-5">
                <div class="col">
                    <span class="fs-18 font-weight-bold text-black dark-text-1 mr-5">Bond Documents :</span>
                    <!-- Documents <i class="fa fa-folder-open" aria-hidden="true"></i>
                        <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple"
                            style="display: none;" /> -->
                </div>
            </div>

            <div class="row mt-3 ml-2">
                <ng-container *ngFor="let document of tenderBidsDetails.bondDocuments">
                    <div class="col-md-3">
                        <div class="card bg-light  ">
                            <div class="card-body">
                                <h5 class="card-title mb-3 fs-18">{{ document.name }}</h5>
                                <h6 class="mb-2 fs-14 text-muted text-light">Document No. : <span
                                        class="dark-text-1 fs-12">{{ document.documentNO }}</span></h6>
                                <h6 class="mb-2 fs-14 text-muted text-light">Revision No. : <span
                                        class="dark-text-1 fs-12">{{ document.revisionNo }}</span></h6>
                                <p class="card-text dark-text-1 fs-12">{{ document.word }}</p>
                                <a class="card-link text-purple" [href]="document.documentUrl">PDF</a>
                                <div class="mt-2 text-right">
                                    <a [href]="document.documentUrl">
                                        <i class="fa fa-download text-purple mr-2 fs-14 "></i>
                                    </a>
                                    <a [href]="document.documentUrl">
                                        <i class="fa fa-file text-purple fs-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" disabled>Complete
                    </button> -->
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                        </button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2"
                        (click)="submitOrSaveDraft('saveAsDraft')">Save
                        as draft
                    </button>
                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button> -->
                </div>
            </div>

        </mat-step>

        <!-- Final Tender Submissions  -->
        <mat-step>
            <ng-template matStepLabel>Final Tender Submissions </ng-template>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{tenderBidsDetails.tenderNo}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{tenderBidsDetails.tenderTitle}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{tenderBidsDetails.siteId}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.siteDescription}}</p>
                </div>
            </div>
            <div class="row mt-3 ml-2">
                <div class="col  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.tenderStatus}}</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">
                        <!-- <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text"> -->
                        <table class="table table-striped mb-0 ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th scope="col">No. </th>
                                    <th scope="col">Document </th>
                                    <th scope="col">Check Box</th>
                                    <th scope="col">Qualifications</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tenderBidsDetails.finalTenderSubmissions">
                                    <td>{{item.no}}</td>
                                    <td>{{item.document}}</td>
                                    <td><input type="checkbox" [checked]="item.checkBox"
                                            (change)="item.checkBox = !item.checkBox"></td>
                                    <td><input type="input" [(ngModel)]="item.qualifications"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperNext>Next <i class="fa fa-caret-right"></i></button>

                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" disabled>Complete
                    </button> -->
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" (click)="clear(tenderStep.FINAL_TENDER_SUBMISSION)">Clear</button>
                    <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                        </button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2"
                        (click)="submitOrSaveDraft('saveAsDraft')">Save
                        as draft
                    </button>
                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button> -->
                </div>
            </div>

        </mat-step>

        <!-- Other Info -->
        <mat-step>
            <ng-template matStepLabel>Other Info</ng-template>
            <div class="row mt-4 ml-2">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender No</h5>
                    <p class="fs-14">{{tenderBidsDetails.tenderNo}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Title</h5>
                    <p class="fs-14 ">{{tenderBidsDetails.tenderTitle}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Id</h5>
                    <p class="fs-14 ">{{tenderBidsDetails.siteId}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Site Description</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.siteDescription}}</p>
                </div>
            </div>
            <div class="row mt-3 ml-2">
                <div class="col  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Tender Status</h5>
                    <p class="fs-14 px-2">{{tenderBidsDetails.tenderStatus}}</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">
                        <!-- <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text"> -->
                        <table class="table table-striped mb-0 ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th scope="col">No. </th>
                                    <th scope="col">Label </th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let other of tenderBidsDetails.otherInfo">
                                    <td>{{ other.no }}</td>
                                    <td>{{ other.label || '-' }}</td>
                                    <td>{{ other.value || '-' }}</td>
                                    <!-- <td><input type="text"  [(ngModel)]="other.value"></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-5 ml-2">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="preStep(2)" matStepperPrevious><i class="fa fa-caret-left"></i> Previous </button>
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="submitOrSaveDraft('next')">Next <i class="fa fa-caret-right"></i></button>

                    <!-- <a>
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"  (click)="submitOrSaveDraft()">Complete</button>
                        </a> -->

                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Clear</button>
                    <a routerLink="/e-tendering/tender-dashboard/current-tenders">
                        <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                        </button>
                    </a>
                    <button type="button" class="btn border  px-3 mx-1 py-2  fs-14 mb-2 mb-2"
                        (click)="submitOrSaveDraft()">Save
                        as draft
                    </button>
                    <!-- <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Home
                    </button> -->
                </div>
            </div>

        </mat-step>

    </mat-horizontal-stepper>
</div>