<app-spinner *ngIf="isLoading"></app-spinner>
<ng-container *ngIf="!isLoading">
    <section>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb bg-white mb-0">
                        <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">Supplier
                                Collaboration </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Renewal Upgrade Request</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="dark-grey-bg ">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-12 ">
                    <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Renewal Upgrade Request</h2>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid mt-3 px-4">

        <ng-container *ngIf="renewalUpgradeStatus == 'approved'; else elseRenewalTemplate">
            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="Renewal Upgrade Request">
                    <section class="bg-white">
                        <div class="row mt-4 ml-2">
                            <div class="col-md-4 mb-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Renewal Request
                                </h5>
                                <p class="fs-14">
                                    {{ renewalFormControl.renewalRequest.value }}
                                </p>

                            </div>
                            <div class="col-md-4 mb-2   px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Current Activity
                                </h5>
                                <p class="fs-14 ">-</p>
                            </div>
                        </div>
                        <div class="row mt-4 ml-2">
                            <div class="col-md-4 mb-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Current Grade
                                </h5>
                                <p class="fs-14">-</p>
                            </div>
                            <div class="col-md-4 mb-2  px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">E-mail ID</h5>
                                <p class="fs-14 ">-</p>
                            </div>
                        </div>
                        <div class="row mt-4 ml-2">
                            <div class="col-md-4 mb-2 px-4 ">
                                <span class="fs-16 font-weight-bold text-black dark-text-1 ">Status :
                                </span>
                                <span class="status-highlighter">Approved</span>
                            </div>
                        </div>


                        <div class="row mt-5">
                            <div class="col-md-12 mb-5 px-4">
                                <button type="button" class="btn border   px-3 py-2 mx-1 w-120 fs-14 mb-2"><i
                                        class="fa fa-caret-left"></i> Previous</button>
                                <button type="button" class="btn border    px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                    (click)="changeTab()">Next <i class="fa fa-caret-right"></i></button>

                                <a routerLink="/landing/supplier-registration/dashboard">
                                    <button type="button"
                                        class="btn border px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                                </a>
                            </div>
                        </div>
                    </section>
                </mat-tab>
                <mat-tab label="Payment">
                    <section class=" bg-white">
                        <div class="container-fluid ">
                            <!-- <div class="row pt-4">
                            <div class="col-md-4 px-3">
                                <div class="row pt-3">
                                    <div class="col-md-4 px-3">
                                        <span class=" fs-16 font-weight-bold text-black dark-text-1 ">Reg.
                                            Payment
                                            Fee</span>
                                    </div>
                                    <div class="col-md-4 px-3">
                                        <span class=" fs-16 font-weight-bold text-black dark-text-1 ">100
                                            OMR</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                            <div class="row pt-4">
                                <div class="col-md-4 px-3">
                                    <div class="row pt-3">
                                        <div class="col-md-4 px-3">
                                            <span class=" fs-16 font-weight-bold text-black dark-text-1 ">Renewal
                                                Fees</span>
                                        </div>
                                        <div class="col-md-4 px-3">
                                            <span class=" fs-16 font-weight-bold text-black dark-text-1 ">100
                                                OMR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row mt-2 mt-5 md-5">
                            <div class="col-md-12 d-block d-md-flex">
                                <div class="mr-5 mb-3">
                                    <p class=" text-dark-grey font-weight-bold ">Payment Mode</p>
                                </div>
                                <div class="form-check mr-3 ml-4 mb-3">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault1"
                                        id="flexRadioDefault1" [checked]="true">
                                    <label class="form-check-label text-dark-grey font-weight-bold ml-2"
                                        for="flexRadioDefault1">Debit </label>
                                </div>
                                <div class="form-check mr-3 mb-3">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault1"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label text-dark-grey font-weight-bold ml-2"
                                        for="flexRadioDefault2">Credit </label>
                                </div>
                            </div>
                        </div> -->
                            <div class="row mt-2 mt-5 md-5">
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-4  px-4">
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row mt-5">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn border   px-3 py-2 mx-1 w-120 fs-14 mb-2"><i
                                    class="fa fa-caret-left"></i> Previous</button>

                                <form #renewalPaymentForm *ngIf="supplierType == supplierEnum.INTERNATIONAL" class="d-inline"
                                    [action]="endPoint.cyberSourcePaymentGateway"
                                    method="POST">
                                    <input type="hidden" name="amount" [value]="paymentData.amount">
                                    <input type="hidden" name="currency" [value]="paymentData.currency">
                                    <input type="hidden" name="Authorization" [value]="paymentData.token">

                                    <input type="submit" class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                        (click)="renewalPaymentForm.submit()" value="Payment">
                                </form>

                                <!-- <button type="button" class="btn border    px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                    (click)="callPayment('renewal')">Payment <i class="fa fa-caret-right"></i></button> -->
                                <form #omanRenewalPaymentForm *ngIf="supplierType !== supplierEnum.INTERNATIONAL" class="d-inline"
                                    [action]="endPoint.omanNetPaymentGateway"
                                    method="POST">
                                    <input type="hidden" name="amount" [value]="paymentData.amount">
                                    <input type="hidden" name="Authorization" [value]="paymentData.token">

                                    <input type="submit" class="btn btn-primary  px-3 mx-1 py-2 w-150 fs-14 mb-2 mb-2"
                                        (click)="omanRenewalPaymentForm.submit()" value="Payment">
                                </form>

                            <a routerLink="/landing/supplier-registration/dashboard">
                                <button type="button"
                                    class="btn border   px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                            </a>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </ng-container>
        <ng-template #elseRenewalTemplate>
            <section class="bg-white" *ngIf="renewalUpgradeRequestFrom">

                <div class="row mt-2 mb-2 ml-2 mb-2" *ngIf="!isRenewalUpdate && renewalUpgradeStatus !== 'pending'">
                    <button type="button" (click)="updateClick('renewal')" class="btn btn-primary">Update</button>
                </div>

                <form [formGroup]="renewalUpgradeRequestFrom" (ngSubmit)="renewalUpdateSubmit()">
                    <div class="row mt-2 mb-2 ml-2 mb-2" *ngIf="isRenewalUpdate && renewalUpgradeStatus !== 'pending'">
                        <button type="submit" (click)="updateClick('activity')" class="btn btn-primary">Send</button>
                    </div>

                    <div class="row mt-4 ml-2">
                        <div class="col-md-4 mb-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Renewal Request</h5>
                            <p class="fs-14" *ngIf="!isRenewalUpdate">
                                {{ renewalFormControl.renewalRequest.value }}
                            </p>
                            <input type="text" formControlName="renewalRequest" *ngIf="isRenewalUpdate">
                        </div>
                        <div class="col-md-4 mb-2   px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Current Activity</h5>
                            <p class="fs-14 ">-</p>
                        </div>
                    </div>
                    <div class="row mt-4 ml-2">
                        <div class="col-md-4 mb-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Current Grade</h5>
                            <p class="fs-14">-</p>
                        </div>
                        <div class="col-md-4 mb-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">E-mail ID</h5>
                            <p class="fs-14 ">-</p>
                        </div>
                    </div>
                    <div class="row mt-4 ml-2" *ngIf="renewalUpgradeStatus !== ''">
                        <div class="col-md-4 mb-2 px-4 ">
                            <span class="fs-16 font-weight-bold text-black dark-text-1 ">Status :
                            </span>
                            <span class="status-highlighter">{{ renewalUpgradeStatus | titlecase}}</span>
                        </div>
                    </div>
                </form>
            </section>
        </ng-template>
    </div>


    <ng-template #requestModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Pending</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.close('Save click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body custom-modal-main">
            <section class=" bg-white">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="px-3 mt-5  mx-auto text-center ">
                            <div class="fs-22  text-black ">Your request has been send to ifs interface. <br> Please
                                wait
                                for approval.</div>
                            <br />
                            <!-- <span class="font-weight-bold mt-3 d-block">Thank You</span>  -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="submit"
                (click)="modal.close('Save click')">OK</button>
        </div>
    </ng-template>
</ng-container>