
<div *ngIf="loading" class="loader">
  <!-- start Spinner selector -->
  <!-- End Spinner selector -->
</div>
<div  *ngIf="!loading" class="animate-bottom">
  <router-outlet></router-outlet>
</div>
<div *ngIf="message">
  <div class="alert-block">
    <div class="alert"
      [ngClass]="{'alert-warning': messageType=='warning', 'alert-success': messageType=='success', 'alert-danger': messageType=='danger'}">
      <a class="close" data-dismiss="alert" aria-label="close" (click)="closeAlert()">&times;</a>
      {{message}}
    </div>
  </div>
</div>