<section class="container-fluid  mt-3">
    <div *ngIf="!completed">

        <div class="bg-white px-4" *ngIf='isLocal'>
            <app-local-registration></app-local-registration>
        </div>

        <div class="bg-white px-4" *ngIf='isIndividual'>
            <app-individual-registration></app-individual-registration>
        </div>

        <div class="bg-white px-4" *ngIf='isInternational'>
            <app-international-registration></app-international-registration>
           
        </div>
    </div>

    <div *ngIf="completed">
        <section class=" bg-white">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-8 px-3 mt-5  mx-auto text-center ">
                        <p class="fs-22  text-black ">Supplier request for registration completed successfully. Your
                            request for registration ID is: 100080 <br />
                            Please use registration ID for tracking the status of registration through portal.<br />
                            You will receive confirmation Email shortly on your registered Email ID.<br />
                            <span class="font-weight-bold mt-3 d-block">Thank You</span> </p>
                        <a href="/landing/supplier-registration/dashboard">
                            <button type="button"
                                class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Close</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>