<section class="container-fluid  mt-3">
    <div>

        <div class="bg-white px-4" *ngIf='isLocal'>
            <app-local-registration></app-local-registration>
        </div>

        <div class="bg-white px-4" *ngIf='isIndividual'>
            <app-individual-registration></app-individual-registration>
        </div>

        <div class="bg-white px-4" *ngIf='isInternational'>
            <app-international-registration></app-international-registration>
           
        </div>
    </div>
</section>