<section>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb bg-white mb-0">
                <li class="breadcrumb-item"><a  href="/#/landing/supplier-registration/dashboard">Home</a></li>
                <li class="breadcrumb-item"><a href="/#/landing/supplier-registration/dashboard">Supplier Registration </a></li>
                <li class="breadcrumb-item active" aria-current="page">Register </li>
            </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-grey-bg ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 ">
          <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Registration</h2>
        </div>
      </div>
    </div>
</section>
<section class="container-fluid  mt-3">
    <div>

        <div class="bg-white px-4" *ngIf='isLocal'>
            <app-local-registration></app-local-registration>
        </div>

        <div class="bg-white px-4" *ngIf='isIndividual'>
            <app-individual-registration></app-individual-registration>
        </div>

        <div class="bg-white px-4" *ngIf='isInternational'>
            <app-international-registration></app-international-registration>
           
        </div>
    </div>
    <!-- <div #nodeInput (click)="open(mymodal)"></div>
    <div  class="container-fluid" > 
        <ng-template #mymodal let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{status}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body custom-modal-main">
                <section class=" bg-white">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-8 px-3 mt-5  mx-auto text-center ">
                                <p class="fs-22  text-black " [innerHTML]=approveRejectStatus><br />
                                    <span class="font-weight-bold mt-3 d-block">Thank You</span> </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <a [href]=gotopath>
                    <button class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="cancel"
                        (click)="modal.close('Save click')">OK</button>
                </a>
            </div>
        </ng-template>
    </div> -->
</section>