<section>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb bg-white mb-0">
                <li class="breadcrumb-item"><a >Home</a></li>
                <li class="breadcrumb-item"><a >Supplier Registration </a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard </li>
            </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-grey-bg ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 ">
          <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Supplier Portal</h2>
        </div>
      </div>
    </div>
</section>
<section class="dark-grey-bg mt-3">
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-md-12 col-xl-9 col-lg-9 ">
                <div class="row">
                    <div class=" col-md-6 col-lg-6 col-xl-4 mb-3 min-height-220">
                        <div class="p-3 bg-white h-100">
                            <h2 class="fs-18 text-black mb-3">RCA GENERAL INFO & LINKS</h2>
                            <ul class="pl-0 list-unstyled mb-0">
                                <li class="mb-1"> <a href="/#/landing/supplier-registration/about-us" class="fs-14">About Us</a></li>
                                <li class="mb-1"> <a href="/#/landing/supplier-registration/registration" class="fs-14" >Supplier Registration</a></li>
                                <li class="mb-1"> <a  class="fs-14">Tendering Information </a></li>
                                <li class="mb-1"> <a  class="fs-14">Auction</a></li>
                                <li class="mb-1"> <a  class="fs-14">Help Desk </a></li>
                                <li class="mb-1"> <a  class="fs-14">Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4  mb-3 min-height-220">
                        <div class="p-3 bg-white h-100 ">
                            <h2 class="fs-18 text-black mb-3">SUPPLIER REGISTRATION</h2>
                            <ul class="pl-0 list-unstyled mb-0">
                                <!-- <li class="mb-1"> <a href="/auth/register" class="fs-14">Login </a></li> -->
                                <li class="mb-1"> <a  class="fs-14" href="/#/landing/supplier-registration/how-to-register">How to Register </a></li>
                                <!-- <li class="mb-1"> <a href="/#/landing/supplier-registration/registration" class="fs-14">Register</a></li> -->
                                <li class="mb-1"> <a  class="fs-14">Forgot Password</a></li>
                                <!-- <li class="mb-1"> <a href="/#/landing/supplier-registration/transaction" class="fs-14">Registration details</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 mb-3  min-height-220">
                        <div class="p-3 purple-bg h-100 tendering-secrtion">
                            <h2 class="fs-18 text-white mb-3 ">TENDERING</h2>
                            <ul class="pl-0 list-unstyled mb-0">
                                <li class="mb-1 d-block d-sm-flex justify-content-between "> 
                                    <a  class="fs-14 text-white ">Open Tenders </a> 
                                    <span class="fs-14 text-white ">3</span></li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 text-white ">Submitted Tenders </a> <span
                                        class="fs-14 text-white ">2</span></li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 text-white ">Awarded Tenders </a><span
                                        class="fs-14 text-white ">3</span></li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 text-white ">Rejected Tenders </a><span
                                        class="fs-14 text-white ">6</span></li>
                                <li class="mb-1"> <a  class="fs-14 text-white ">Tender Queries </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white ">Search Tenders</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 mb-3 min-height-220">
                        <div class="p-3 purple-bg h-100 dark-grey-bg-2 tendering-secrtion">
                            <h2 class="fs-18 text-white mb-3 ">ORDERS</h2>
                            <ul class="pl-0 list-unstyled mb-0">
                                <li class="mb-1 d-block d-sm-flex justify-content-between "> <a 
                                        class="fs-14 text-white ">Open </a> <span class="fs-14 text-white ">1</span>
                                </li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 text-white ">Open Lines </a> <span
                                        class="fs-14 text-white ">3</span></li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 text-white ">Orders with Pending Changes</a><span
                                        class="fs-14 text-white ">4</span></li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 text-white ">Fully Received</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 mb-3 min-height-220">
                        <div class="p-3 purple-bg h-100 light-green-bg tendering-secrtion">
                            <h2 class="fs-18 text-black mb-3 ">LATE ORDERS</h2>
                            <ul class="pl-0 list-unstyled mb-0 text-center ">
                                <li class="mb-1 mt-4"> <a  class="fs-18  font-weight-bold  text-danger">0 </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 mb-3 min-height-220">
                        <div
                            class="p-3 purple-bg h-100 dark-grey-bg-2  d-flex justify-content-between progress-main-custom pt-3 pt-md-5">
                            <div class="mb-3"> <img src="assets/images/prograss-bar.png" alt="" /></div>
                            <ul class="pl-0 list-unstyled mb-0 mx-3">
                                <li class="mb-2 d-block d-sm-flex align-items-center "> <span
                                        class=" mr-3 p-1 light-green-bg box1"></span> <a 
                                        class="fs-14 text-white ">Open </a> </li>
                                <li class="mb-2 d-block d-sm-flex align-items-center "> <span
                                        class=" mr-3 p-1 purple-bg box1"></span> <a 
                                        class="fs-14 text-white ">Submitted </a> </li>
                                <li class="mb-2 d-block d-sm-flex align-items-center "> <span
                                        class=" mr-3 p-1 dark-grey-bg-3 box1"></span> <a 
                                        class="fs-14 text-white ">Awarded </a> </li>
                                <li class="mb-2 d-block d-sm-flex align-items-center "> <span
                                        class=" mr-3 p-1 dark-green-bg box1"></span> <a 
                                        class="fs-14 text-white ">Rejected </a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4  mb-3 min-height-220">
                        <div class="p-3 purple-bg h-100 light-green-bg tendering-secrtion">
                            <h2 class="fs-18 text-black mb-3 ">ORDER LINES TO CONFIRM</h2>
                            <ul class="pl-0 list-unstyled mb-0 text-center ">
                                <li class="mb-1 mt-4"> <a  class="fs-18  font-weight-bold  text-danger">0 </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4  mb-3 min-height-220">
                        <div class="p-3 bg-white h-100 ">
                            <h2 class="fs-18  mb-3 ">REQUEST FOR ORDER QUOTATION </h2>
                            <ul class="pl-0 list-unstyled mb-0">
                                <li class="mb-1  d-sm-flex justify-content-between"> <a  class="fs-14 ">Open</a>
                                    <span class="fs-14 ">0</span></li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a  class="fs-14 ">Open
                                        (Expires in 30 days) </a><span class="fs-14 ">0</span></li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 ">Quotation Lines</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4  mb-3 min-height-220">
                        <div class="p-3 orange-bg h-100 ">
                            <h2 class="fs-18  mb-3 text-white ">REQUEST FOR ORDER QUOTATION </h2>
                            <ul class="pl-0 list-unstyled mb-0">
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 text-white">Open</a> <span class="fs-14 text-white">0</span></li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 text-white">Open (Expires in 30 days) </a><span
                                        class="fs-14 text-white">0</span></li>
                                <li class="mb-1  d-sm-flex justify-content-between"> <a 
                                        class="fs-14 text-white">Quotation Lines</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 ">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-4">
                        <div class="cusotm-box1 bg-dark p-3 mb-2">
                            <h3 class="fs-18 text-white ">demo name</h3>
                            <ul class="pl-0 mb-0 list-unstyled">
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-4">
                        <div class="cusotm-box1 bg-dark p-3 mb-2">
                            <h3 class="fs-18 text-white ">demo name</h3>
                            <ul class="pl-0 mb-0  list-unstyled">
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-4">
                        <div class="cusotm-box1 bg-dark p-3 mb-2">
                            <h3 class="fs-18 text-white ">demo name</h3>
                            <ul class="pl-0 mb-0 list-unstyled">
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-angle-right mr-2"></i> demo text </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-4">
                        <div class="cusotm-box1 bg-dark p-3 mb-2">
                            <h3 class="fs-18 text-white ">demo name</h3>
                            <ul class="pl-0 mb-0 list-unstyled">
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-envelope  mr-2"></i>demo text </a></li>
                                <li class="mb-1"> <a  class="fs-14 text-white"> <i
                                            class="fa fa-phone  mr-2"></i>demo text </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #nodeInput (click)="open(mymodal)"></div>
        <ng-template #mymodal let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{status}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="goto('true'); modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body custom-modal-main">
                <section class=" bg-white">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-8 px-3 mt-5  mx-auto text-center ">
                                <p class="fs-22  text-black " [innerHTML]=approveRejectStatus><br />
                                    <span class="font-weight-bold mt-3 d-block">Thank You</span> </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="submit"
                        (click)="goto(); modal.close('Save click')">OK</button>
            </div>
        </ng-template>
<section>