<div class="otp-div">
    <div class="content">
        <div class="o-c">
            <div [hidden]="!loading" class="otp-loader">
            </div>
            <div [hidden]="loading">
                <div class="card">
                    <p class="a-o-i">Enter verification code</p>
                    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent"
                        [config]="config"></ng-otp-input>
                    <!-- {{ ngOtpInput. }} -->
                    <div class="row mt-5 mb-5">
                        <button type="button" (click)="onVerify()" [disabled]="isVerifyBtnDisable"
                            class="mr-3 ml-3 btn btn-lg btn-block btn-outline-primary"> Verify </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>