<section>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb bg-white mb-0">
                <li class="breadcrumb-item"><a  routerLink="/landing/supplier-registration/dashboard">Home</a></li>
                <li class="breadcrumb-item"><a  routerLink="/landing/supplier-registration/dashboard">Supplier Registration </a></li>
                <li class="breadcrumb-item active" aria-current="page">How To Register </li>
            </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-grey-bg ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 ">
          <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">How To Register </h2>
        </div>
      </div>
    </div>
</section>
<ng-container *ngFor="let d of data ">
    <div class="container mt-5">
        <h1 class="text-center title mb-5">{{d.title}}</h1>
        <div class="text-center desc" [innerHTML]="d.description | safeHtml "></div>
    </div>
</ng-container>
