<div class="custom-tab-01" *ngIf="!completed">

    <!-- Show files Pop up-->
    <ng-template #shoeFiles let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> Files
                <i class="fa fa-ban text-red fs-14" type="button" placement="right"
                    ngbTooltip="Data fetched from interface - not editable" *ngIf="isDataMoci"></i>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body custom-modal-main">
            <section class=" bg-white " style="min-height: 300px !important;">
                <ng-container *ngIf="filesList.length != 0; else fileListTemplate">
                    <div class="dark-text-1">
                        Added File Names
                    </div>
                    <ul *ngFor="let item of filesList" style="background-color: white !important;">
                        <li style="list-style-type: disc !important;">
                            <span>
                                {{item.name}}
                            </span>
                            <span class="pr-4 " style="float: right;max-height: 80%; right:5%;">
                                <i class="fa fa-trash-o btn btn-danger" (click)="deleteFile(item)"></i>
                            </span>
                        </li>
                        <hr>
                    </ul>
                </ng-container>
                <ng-template #fileListTemplate>
                    No Files Added
                </ng-template>

            </section>
            <hr>
            <section class="bg-white" *ngIf="!isDataMoci">
                <div>Add New File</div>
                <mat-card>
                    <mat-card-content>
                        <ul>
                            <li *ngFor="let file of files">
                                <!-- <mat-progress-bar [value]="file.inProgress">
                                        </mat-progress-bar> -->
                                <span id="file-label">
                                </span>
                            </li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="warn" (click)="onClick()">
                            <mat-icon>file_upload</mat-icon>
                            Upload
                        </button>
                    </mat-card-actions>
                </mat-card>
            </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="button"
                (click)="modal.close('Save click')">Done</button>
        </div>
    </ng-template>

    <mat-horizontal-stepper [@.disabled]="true" #stepper>
        <!-- General Info -->
        <mat-step>
            <ng-template matStepLabel>General Info</ng-template>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12 px-4 pb-2 ">
                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                        matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">C R Number</h5>
                    <p class="fs-14">1567 6578</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Arabic Name</h5>
                    <p class="fs-14 px-4">آر بالا</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">English Name</h5>
                    <p class="fs-14">R Bala</p>
                </div>
                <!-- <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Company Info</h5>
                <p class="fs-14">Company Info</p>
            </div> -->
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <h4 class="dark-grey-bg px-4 py-2 fs-16 font-weight-bold mb-3 dark-text-1  ">
                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                            matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i> Company Info
                    </h4>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1">Company Name</h5>
                    <p class="fs-14">Company Name</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1">Company C R Number</h5>
                    <p class="fs-14">1567 6578</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">

                        <input class="fs-16 custom-height-35" [(ngModel)]="searchText" placeholder="Search text">

                        <button class="btn btn-secondary ml-2 float-right mb-2" (click)="open(mymodal)"><i
                                class="fa fa-plus" aria-hidden="true"></i></button>
                        <table class="table table-striped ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th scope="col"></th>
                                    <th scope="col">Address Id</th>
                                    <th scope="col">Address Line 1</th>
                                    <th scope="col">Address Line 2</th>
                                    <th scope="col">Language</th>
                                    <th scope="col">Country</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of allAddresses | filter : searchText; index as index">
                                    <td *ngIf="data.isMoci">
                                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                                            matTooltip="Data fetched from interface - not editable"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci">
                                        <i class="fa fa-pencil-square-o fs-14" mat-raised-button
                                            matTooltip="Edit Address" (click)="open(mymodal, data)"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci" (dblclick)="open(mymodal, data)">
                                        {{data.addressID}}
                                    </td>
                                    <td *ngIf="data.isMoci">
                                        {{data.addressID}}
                                    </td>
                                    <!-- <td *ngIf="data.isEdit && !data.isMoci"
                                    (keyup.enter)="enteredDetails( 'activity',data)">
                                    <input [(ngModel)]="data.addressID"></td> -->
                                    <td *ngIf="!data.isMoci" (dblclick)="open(mymodal, data)">
                                        {{data.addressline1}}
                                    </td>
                                    <td *ngIf="data.isMoci">
                                        {{data.addressline1}}
                                    </td>
                                    <!-- <td *ngIf="data.isEdit && !data.isMoci"
                                (keyup.enter)="enteredDetails( 'activity',data)">
                                <input [(ngModel)]="data.addressLine1"></td> -->
                                    <td *ngIf="!data.isMoci" (dblclick)="open(mymodal, data)">
                                        {{data.addressline2}}
                                    </td>
                                    <td *ngIf="data.isMoci">
                                        {{data.addressline2}}
                                    </td>
                                    <!-- <td *ngIf="data.isEdit && !data.isMoci"
                                (keyup.enter)="enteredDetails( 'activity',data)">
                                <input [(ngModel)]="data.addressLine2"></td> -->
                                    <td *ngIf="!data.isMoci" (dblclick)="open(mymodal, data)">
                                        {{data.language}}
                                    </td>
                                    <td *ngIf="data.isMoci">
                                        {{data.language}}
                                    </td>
                                    <!-- <td *ngIf="data.isEdit && !data.isMoci"
                                (keyup.enter)="enteredDetails( 'activity',data)">
                                <input [(ngModel)]="data.language"></td> -->

                                    <td *ngIf="!data.isMoci" (dblclick)="open(mymodal, data)">
                                        {{data.country}}
                                    </td>
                                    <td *ngIf="data.isMoci">
                                        {{data.country}}
                                    </td>
                                    <!-- <td *ngIf="data.isEdit && !data.isMoci"
                                (keyup.enter)="enteredDetails( 'activity',data)">
                                <input [(ngModel)]="data.country"></td> -->
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>

            <!-- Address Model Pop-Up Form -->
            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Add Address</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form [formGroup]="form" (ngSubmit)="submit() ; modal.close('Save click')">
                    <div class="modal-body custom-modal-main">
                        <section class=" bg-white ">
                            <div>
                                <div class="row ">
                                    <div class="col-md-12 ">
                                        <div class="form-group row mb-3">
                                            <label for="addressID" class="col-sm-5 col-form-label"> Address
                                                ID<span class="text-red">*</span></label>
                                            <div class="col-sm-7">
                                                <input formControlName="addressID" id="addressID" type="text"
                                                    class="form-control" readonly>
                                            </div>
                                            <div *ngIf="f.addressID.touched && f.addressID.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.addressID.errors.required" class="col-sm-7">
                                                    *required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="addressline1" class="col-sm-5 col-form-label">Address
                                                Line
                                                1<span class="text-red">*</span></label>
                                            <div class="col-sm-7">
                                                <input formControlName="addressline1" id="addressline1" type="text"
                                                    class="form-control">
                                            </div>
                                            <div *ngIf="f.addressline1.touched && f.addressline1.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.addressline1.errors.required" class="col-sm-7">
                                                    *required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="addressline2" class="col-sm-5 col-form-label">Address
                                                Line
                                                2<span class="text-red">*</span></label>
                                            <div class="col-sm-7">
                                                <input formControlName="addressline2" id="addressline2" type="text"
                                                    class="form-control">
                                            </div>
                                            <div *ngIf="f.addressline2.touched && f.addressline2.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.addressline2.errors.required" class="col-sm-7">
                                                    *required</div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group row mb-3">
                                        <label for="language" class="col-sm-5 col-form-label">Language
                                        </label>
                                        <div class="col-sm-7">
                                            <input formControlName="language" id="language" type="text"
                                                class="form-control">
                                        </div>
                                        <div *ngIf="f.language.touched && f.language.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.language.errors.required" class="col-sm-7">
                                                *required</div>
                                        </div>
                                    </div> -->
                                        <div class="form-group row mb-3">
                                            <label for="country" class="col-sm-5 col-form-label">Country<span
                                                    class="text-red">*</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input formControlName="country" id="country" type="text"
                                                    class="form-control">
                                            </div>
                                            <div *ngIf="f.country.touched && f.country.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.country.errors.required" class="col-sm-7">
                                                    *required
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-5">
                                            <div class="col-md-12 mb-5 px-4"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" type="submit"
                            [disabled]="this.form.status !== 'VALID'">Submit</button>
                        <button class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="cancel"
                            (click)="form.reset(); modal.close('Save click')">Cancel</button>

                    </div>
                </form>
            </ng-template>

            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        [disabled]="true"><i class="fa fa-caret-left"></i> Previous</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" matStepperNext>Next
                        <i class="fa fa-caret-right"></i></button>
                    <!-- <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                 (click)="move(6)">Finish</button> -->
                    <button type="button" class="btn  border px-3 mx-1 py-2  fs-14 mb-2" (click)="saveDraft()">Save as
                        Draft</button>
                    <a href="/#/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                    </a>
                </div>
            </div>

        </mat-step>
        <!-- Personal Details -->
        <mat-step>
            <ng-template matStepLabel>Personal Details</ng-template>

            <div class="row">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">

                        <input class="fs-16 custom-height-35" [(ngModel)]="searchText" placeholder="Search text">

                        <button class="btn btn-secondary ml-2 float-right mb-2" [disabled]='!showBtn'
                            (click)="addNewRow('personal')"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        <table class="table table-striped ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th scope="col"></th>
                                    <th scope="col"># </th>
                                    <th scope="col" (click)="sorting('personal','nationality')">Nationality <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','idtype')">I.D Type <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','designation')">Designation <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','age')">Age <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','dob')">DOB <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','members')">Number of Family Members <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','socialStatus')">Social Status <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('personal','familySecurity')">Family of social
                                        security <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col">Document Attachments </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of personalData | filter : searchText; index as index">
                                    <!-- (clickOutside)="enteredDetails( 'personal',data)" -->
                                    <td *ngIf="data.isMoci">
                                        <i class="fa fa-ban text-red fs-14" mat-raised-button
                                            matTooltip="Data fetched from interface - not editable"
                                            aria-hidden="true"></i>
                                    </td>
                                    <td *ngIf="!data.isMoci ">
                                        <i class="fa fa-pencil-square-o fs-14" *ngIf="!data.isEdit && showBtn"
                                            mat-raised-button matTooltip="Edit Data"
                                            (click)="data.isEdit = true; this.showBtn=false;" aria-hidden="true"></i>
                                        <i class="fa fa-save fs-20 background-purple text-white p-1" *ngIf="data.isEdit"
                                            mat-raised-button matTooltip="Save Data"
                                            (click)="enteredDetails( 'personal',data)" aria-hidden="true"></i>
                                    </td>
                                    <td>{{index + 1}}</td>
                                    <td *ngIf="data.isMoci || !data.isEdit" (dblclick)="dblclick(data)">
                                        {{data.nationality}}</td>
                                    <td *ngIf="data.isEdit && !data.isMoci"
                                        (keyup.enter)="enteredDetails( 'personal',data)"><input
                                            [(ngModel)]="data.nationality"><span class="text-red">*required</span></td>
                                    <td *ngIf="data.isMoci || !data.isEdit" (dblclick)="dblclick(data)">{{data.idtype}}
                                    </td>
                                    <td *ngIf="data.isEdit && !data.isMoci"
                                        (keyup.enter)="enteredDetails( 'personal',data)">
                                        <input [(ngModel)]="data.idtype"></td>
                                    <td *ngIf="data.isMoci || !data.isEdit" (dblclick)="dblclick(data)">
                                        {{data.designation}}
                                    </td>
                                    <td *ngIf="data.isEdit && !data.isMoci"
                                        (keyup.enter)="enteredDetails( 'personal',data)">
                                        <input [(ngModel)]="data.designation"></td>
                                    <td *ngIf="data.isMoci || !data.isEdit" (dblclick)="dblclick(data)">
                                        {{data.age}} </td>
                                    <td *ngIf="data.isEdit && !data.isMoci"
                                        (keyup.enter)="enteredDetails( 'personal',data)">
                                        <input type="number" [(ngModel)]="data.age" min="0" onkeydown="return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"></td>
                                    <td *ngIf="data.isMoci || !data.isEdit" (dblclick)="dblclick(data)">
                                        {{data.dob}}</td>
                                    <td *ngIf="data.isEdit && !data.isMoci"
                                        (keyup.enter)="enteredDetails( 'personal',data)">
                                        <input type="date" [(ngModel)]="data.dob"></td>
                                    <td *ngIf="data.isMoci || !data.isEdit" (dblclick)="dblclick(data)">{{data.members}}
                                    </td>
                                    <td *ngIf="data.isEdit && !data.isMoci"
                                        (keyup.enter)="enteredDetails( 'personal',data)">
                                        <input type="number" [(ngModel)]="data.members" min="0" onkeydown="return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"></td>
                                    <td *ngIf="data.isMoci || !data.isEdit" (dblclick)="dblclick(data)">
                                        {{data.socialStatus}}
                                    </td>
                                    <td *ngIf="data.isEdit && !data.isMoci"
                                        (keyup.enter)="enteredDetails( 'personal',data)">
                                        <input [(ngModel)]="data.socialStatus"></td>
                                    <td *ngIf="data.isMoci || !data.isEdit" (dblclick)="dblclick(data)">
                                        {{data.familySecurity}}
                                    </td>
                                    <td *ngIf="data.isEdit && !data.isMoci"
                                        (keyup.enter)="enteredDetails( 'personal',data)">
                                        <input [(ngModel)]="data.familySecurity"></td>
                                    <td>
                                        <i class="fa fa-folder-open" aria-hidden="true"
                                            (click)="openFile(shoeFiles,'personal',data,data.isMoci)"></i>

                                        <input type="file" #fileInput id="fileUpload" name="fileUpload"
                                            multiple="multiple" style="display: none;" />
                                    </td>
                                    <td *ngIf="data.isMoci || !data.isEdit"></td>
                                    <td *ngIf="data.isEdit && !data.isMoci"><i class="fa fa-trash text-red dlt-btn-size"
                                            aria-hidden="true" (click)="deleteRow('personal',data)"></i></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>
            <!-- <div class="row">
            <div class="col-md-12 px-4 ">
                <p class="bg-light border rounded p-2 fs-14 w-120 text-center">Attachments</p>
                <p class=" border p-2 fs-14 w-120 rounded sky-blue-bg text-white text-center">Documents (1)
                </p>
            </div>
        </div> -->
            <div class="row px-2 py-2" *ngIf="!showBtn">
                <div class="col-md-12 px-4">
                    <p class="fs-14 font-weight-bold  text-red mb-0">Save or Delete your new data to move
                        forward.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" [disabled]='!showBtn'
                        matStepperPrevious><i class="fa fa-caret-left"></i> Previous</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        [disabled]='!showBtn' matStepperNext>Next <i class="fa fa-caret-right"></i></button>
                    <!-- <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                 (click)="move(6)">Finish</button> -->
                    <button type="button" class="btn  border px-3 mx-1 py-2  fs-14 mb-2" [disabled]='!showBtn'
                        (click)="saveDraft()">Save as
                        Draft</button>
                    <a [attr.href]="showBtn ? '/#/landing/supplier-registration/dashboard' : null">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                            [disabled]='!showBtn'>Cancel</button>
                    </a>
                </div>
            </div>

        </mat-step>
        <!-- Communication Methods -->
        <mat-step>
            <ng-template matStepLabel>Communication Methods</ng-template>

            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-12 px-4 pb-2 ">
                    <i class="fa fa-ban text-red fs-14" mat-raised-button
                        matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Telephone</h5>
                    <p class="fs-14">{{communicationData.telephone}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">P.O. Box</h5>
                    <p class="fs-14">{{communicationData.poBox}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Fax</h5>
                    <p class="fs-14">{{communicationData.fax}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">legal status</h5>
                    <p class="fs-14">{{communicationData.legalStatus}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">PC</h5>
                    <p class="fs-14">{{communicationData.pc}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Email</h5>
                    <p class="fs-14">{{communicationData.email}}</p>
                    <!-- <input type="email" class="fs-14" [(ngModel)]=comunicationData.email> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2" matStepperPrevious><i
                            class="fa fa-caret-left"></i> Previous</button>
                    <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" matStepperNext>Next
                        <i class="fa fa-caret-right"></i></button>
                    <!-- <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                 (click)="move(6)">Finish</button> -->
                    <button type="button" class="btn  border px-3 mx-1 py-2  fs-14 mb-2" (click)="saveDraft()">Save as
                        Draft</button>
                    <a href="/#/landing/supplier-registration/dashboard">
                        <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                    </a>
                </div>
            </div>
        </mat-step>
        <!-- Commercial Info -->
        <mat-step>
            <ng-template matStepLabel>Commercial Info</ng-template>

            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="Activity Info">
                    <div class="row mt-3 mb-5">
                        <!-- <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                        <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Establishment date</h5>
                        <p class="fs-14">{{activityData.regDate}}</p>
                    </div> -->
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Registration Date</h5>
                            <p class="fs-14">{{activityData.regDate}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Expiry Date </h5>
                            <p class="fs-14">{{activityData.expDate}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Work Location</h5>
                            <p class="fs-14">Work Location</p>
                        </div>
                        <div class="col-md-3 col-lg-3 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Activities </h5>
                            <div class="landing-menu" (click)="activityMenu2 = !activityMenu2"
                                (clickOutside)="activityMenu2 = false">
                                <div class="bg-light border rounded p-2 mb-0 fs-14 text-center  w-170">
                                    Activities<i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <ul *ngIf="activityMenu2" class="landing-dropdown w-170">
                                    <li>Activity name 1</li>
                                    <li>Activity name 2</li>
                                    <li>Activity name 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                    <div class="col-md-12 px-4 ">
                        <p class="bg-light border rounded p-2 fs-14 w-120 text-center">Attachments</p>
                        <p class=" border p-2 fs-14 w-120 rounded sky-blue-bg text-white text-center">Documents (1)
                        </p>
                    </div>
                </div> -->
                    <div class="row">
                        <div class="col-md-12 px-4">
                            <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                            <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperPrevious><i class="fa fa-caret-left"></i> Previous</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                (click)="changeTab()">Next <i class="fa fa-caret-right"></i></button>
                            <!-- <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="move(6)">Finish</button> -->
                            <button type="button" class="btn  border px-3 mx-1 py-2  fs-14 mb-2"
                                (click)="saveDraft()">Save as
                                Draft</button>
                            <a href="/#/landing/supplier-registration/dashboard">
                                <button type="button"
                                    class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                            </a>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Bank Details">
                    <div class="row ">
                        <div class="col-md-12 px-4 ">
                            <button class="btn btn-secondary ml-2 " (click)="openbank(bankModel)"><i class="fa fa-plus"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="shadow p-3 mb-5" *ngFor="let data of BankDetails">
                        <div class="row ">
                            <div class="col-md-12 col-lg-12 col-xl-12 px-4 " *ngIf="data.isMoci">
                                <i class="fa fa-ban text-red fs-14" mat-raised-button
                                    matTooltip="Data fetched from interface - not editable" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xl-12 px-4 " *ngIf="!data.isMoci">
                                <i class="fa fa-pencil-square-o fs-14" mat-raised-button matTooltip="Edit Data"
                                    (click)="openbank(bankModel,data)" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Banking Id</h5>
                                <p class="fs-14">{{data.bankingId}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Banking Id Name</h5>
                                <p class="fs-14">{{data.bankingIdname}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Account</h5>
                                <p class="fs-14">{{data.bankAcc}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Name</h5>
                                <p class="fs-14">{{data.bankName}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Branch</h5>
                                <p class="fs-14">{{data.bankBranch}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Account Holder Name</h5>
                                <p class="fs-14">{{data.holderName}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- add/edit bank pop-up -->
                    <ng-template #bankModel let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Add Bank Detail</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form [formGroup]="bankform" (ngSubmit)="submitbank() ; modal.close('Save click')">
                            <div class="modal-body custom-modal-main">
                                <section class=" bg-white ">
                                    <div>
                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="form-group row mb-3">
                                                    <label for="bankingId" class="col-sm-5 col-form-label">Banking
                                                        Id<span class="text-red">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="bankingId" id="bankingId" type="text"
                                                            class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.bankingId.touched && bf.bankingId.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.bankingId.errors.required" class="col-sm-7">
                                                            *required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="bankingIdname" class="col-sm-5 col-form-label">Banking
                                                        Id Name<span class="text-red">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="bankingIdname" id="bankingIdname"
                                                            type="text" class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.bankingIdname.touched && bf.bankingIdname.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.bankingIdname.errors.required" class="col-sm-7">
                                                            *required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="bankAcc" class="col-sm-5 col-form-label">Bank
                                                        Account<span class="text-red">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="bankAcc" id="bankAcc" type="text"
                                                            class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.bankAcc.touched && bf.bankAcc.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.bankAcc.errors.required" class="col-sm-7">
                                                            *required
                                                        </div>
                                                        <div *ngIf="bf.bankAcc.errors.pattern" class="col-sm-7">
                                                            *numbers only
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="bankName" class="col-sm-5 col-form-label">Bank
                                                        Name<span class="text-red">*</span></label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="bankName" id="bankName" type="text"
                                                            class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.bankName.touched && bf.bankName.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.bankName.errors.required" class="col-sm-7">
                                                            *required</div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="bankBranch" class="col-sm-5 col-form-label">Bank
                                                        Branch<span class="text-red">*</span>
                                                    </label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="bankBranch" id="bankBranch" type="text"
                                                            class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.bankBranch.touched && bf.bankBranch.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.bankBranch.errors.required" class="col-sm-7">
                                                            *required</div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="holderName" class="col-sm-5 col-form-label">Account
                                                        holder
                                                        name<span class="text-red">*</span>
                                                    </label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="holderName" id="holderName" type="text"
                                                            class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.holderName.touched && bf.holderName.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.holderName.errors.required" class="col-sm-7">
                                                            *required</div>
                                                    </div>
                                                </div>

                                                <div class="row mt-5">
                                                    <div class="col-md-12 mb-5 px-4"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2" type="submit"
                                    [disabled]='!bankform.valid'>Submit</button>
                                <button class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="cancel"
                                    (click)="form.reset(); modal.close('Save click')">Cancel</button>

                            </div>
                        </form>
                    </ng-template>
                    <div class="row">
                        <div class="col-md-12 px-4">
                            <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                            <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous</button>
                            <button type="button" class="btn  border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                (click)="changeTab()">Next <i class="fa fa-caret-right"></i></button>
                            <!-- <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="move(6)">Finish</button> -->
                            <button type="button" class="btn  border px-3 mx-1 py-2  fs-14 mb-2"
                                (click)="saveDraft()">Save as
                                Draft</button>
                            <a href="/#/landing/supplier-registration/dashboard">
                                <button type="button"
                                    class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                            </a>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Other Info">
                    <div class="row">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                    class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">
                                            <th scope="col">
                                                <div class="d-flex"> <span> <a class=" text-white fs-14"><i
                                                                class="fa fa-check"></i></a> </span> <span
                                                        class="ml-3 pl-1 "> <a class=" text-white fs-14"> <i
                                                                class="fa fa-ellipsis-v "></i>
                                                        </a> </span> </div>
                                            </th>
                                            <th scope="col" (click)="sorting('other','no')">No. <i class="fa fa-sort"
                                                    aria-hidden="true"></i></th>
                                            <th scope="col" (click)="sorting('other','name')">Label <i
                                                    class="fa fa-sort" aria-hidden="true"></i></th>
                                            <th scope="col">Value </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of otherData | filter : searchText; index as index">
                                            <!--  (clickOutside)="enteredDetails( 'other',data)" -->
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault-1">
                                                    <span class="ml-2"> <a class=" text-blaack fs-14"><i
                                                                class="fa fa-ellipsis-v  "></i> </a></span> </div>
                                            </td>
                                            <td>{{data.no}}</td>
                                            <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">{{data.name}}
                                            </td>
                                            <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'other',data)"><input
                                                    [(ngModel)]="data.name"></td>
                                            <td><a><input type="text" id="input" name="input"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 px-4">
                            <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                            <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()"><i class="fa fa-caret-left"></i> Previous</button>
                            <button type="button"
                                class="btn border btn-disabled-color-gray  px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                [disabled]="true"><i class="fa fa-caret-left"></i> Next</button>
                            <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="submitRegistration()">Finish</button>
                            <!-- <button type="button" class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="move(6)">Finish</button> -->
                            <button type="button" class="btn  border px-3 mx-1 py-2  fs-14 mb-2"
                                (click)="saveDraft()">Save as
                                Draft</button>
                            <a href="/#/landing/supplier-registration/dashboard">
                                <button type="button"
                                    class="btn  border px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                            </a>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </mat-step>
    </mat-horizontal-stepper>
</div>

<div *ngIf="completed">
    <section class=" bg-white">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-8 px-3 mt-5  mx-auto text-center ">
                    <p class="fs-22  text-black ">Supplier request for registration completed successfully. Your
                        request for registration ID is: 100080 <br />
                        Please use registration ID for tracking the status of registration through portal.<br />
                        You will receive confirmation Email shortly on your registered Email ID.<br />
                        <span class="font-weight-bold mt-3 d-block">Thank You</span> </p>
                    <a href="/#/landing/supplier-registration/dashboard">
                        <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Close</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>