<div class="custom-tab-01" *ngIf="!completed">
    <mat-horizontal-stepper  [@.disabled]="true"  #stepper>
        <!-- General Info -->
        <mat-step>
            <ng-template matStepLabel>General Info</ng-template>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Civil No.</h5>
                    <p class="fs-14">11337788</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                    <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Name</h5>
                    <p class="fs-14">R Bala</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 px-4 ">
                    <h4 class="dark-grey-bg px-4 py-2 fs-16 font-weight-bold mb-3 dark-text-1 ">Company Info
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 px-4 position-relative mb-3">
                    <div class="landing-menu" (click)="openMenu()">
                        <div
                            class="bg-light border rounded p-2 mb-0 fs-14 text-center font-italic font-weight-bold  dark-text-1 w-170">
                            Address ID : {{selectedAddress.addressID}} <i class="fa fa-caret-down"
                                aria-hidden="true"></i>
                        </div>
                        <ul *ngIf="activityMenu" class="landing-dropdown w-170">
                            <li *ngFor="let item of individualAddress" (click)="selectedAddress = item">
                                {{item.addressID}}</li>
                        </ul>
                    </div>
                    <button class="btn btn-secondary ml-2 custom-drop-down-plus" (click)="open(mymodal)"><i
                            class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="shadow">

                <div class=" p-3 mb-5">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Address Line 1</h5>
                            <p class="fs-14">{{selectedAddress.addressline1}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Address Line 2</h5>
                            <p class="fs-14">{{selectedAddress.addressline2}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Language</h5>
                            <p class="fs-14">{{selectedAddress.language}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-4  px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Country
                            </h5>
                            <p class="fs-14">{{selectedAddress.country}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>

            <!-- Address Model Pop-Up Form -->
            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Add Address</h4>
                    <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form [formGroup]="form" (ngSubmit)="submit() ; modal.close('Save click')">
                    <div class="modal-body custom-modal-main">
                        <section class=" bg-white ">
                            <div>
                                <div class="row ">
                                    <div class="col-md-12 ">
                                        <div class="form-group row mb-3">
                                            <label for="addressID" class="col-sm-5 col-form-label"> Address
                                                ID</label>
                                            <div class="col-sm-7">
                                                <input formControlName="addressID" id="addressID" type="text"
                                                    class="form-control">
                                            </div>
                                            <div *ngIf="f.addressID.touched && f.addressID.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.addressID.errors.required" class="col-sm-7">
                                                    *required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="addressline1" class="col-sm-5 col-form-label">Address
                                                Line
                                                1</label>
                                            <div class="col-sm-7">
                                                <input formControlName="addressline1" id="addressline1"
                                                    type="text" class="form-control">
                                            </div>
                                            <div *ngIf="f.addressline1.touched && f.addressline1.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.addressline1.errors.required" class="col-sm-7">
                                                    *required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="addressline2" class="col-sm-5 col-form-label">Address
                                                Line
                                                2</label>
                                            <div class="col-sm-7">
                                                <input formControlName="addressline2" id="addressline2"
                                                    type="text" class="form-control">
                                            </div>
                                            <div *ngIf="f.addressline2.touched && f.addressline2.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.addressline2.errors.required" class="col-sm-7">
                                                    *required</div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="language" class="col-sm-5 col-form-label">Language
                                            </label>
                                            <div class="col-sm-7">
                                                <input formControlName="language" id="language" type="text"
                                                    class="form-control">
                                            </div>
                                            <div *ngIf="f.language.touched && f.language.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.language.errors.required" class="col-sm-7">
                                                    *required</div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="country" class="col-sm-5 col-form-label">Country
                                            </label>
                                            <div class="col-sm-7">
                                                <input formControlName="country" id="country" type="text"
                                                    class="form-control">
                                            </div>
                                            <div *ngIf="f.country.touched && f.country.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.country.errors.required" class="col-sm-7">
                                                    *required
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-5">
                                            <div class="col-md-12 mb-5 px-4"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                            type="submit">Submit</button>
                        <button class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="cancel"
                            (click)="form.reset(); modal.close('Save click')">Cancel</button>

                    </div>
                </form>
            </ng-template>


            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <!-- <button type="button"
                class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Previous</button> -->
                <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperPrevious>Previous</button>
                    <button type="button" class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        matStepperNext>Next</button>
                    <!-- <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                (click)="move(6)">Finish</button> -->


                    <button type="button" class="btn btn-warning px-3 mx-1 py-2  fs-14 mb-2" (click)="saveDraft()">Save
                        as
                        Draft</button>
                    <a href="/#/landing/supplier-registration/dashboard">
                        <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                    </a>
                </div>
            </div>

        </mat-step>
        <!-- Personal Details -->
        <mat-step>
            <ng-template matStepLabel>Personal Details</ng-template>

            <div class="row">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">

                        <input class="fs-16 custom-height-35 mb-3" [(ngModel)]="searchText" placeholder="Search text">

                        <!-- <button class="btn btn-secondary ml-2 float-right mb-2"
                        (click)="addNewRow('individual')"><i class="fa fa-plus"
                            aria-hidden="true"></i></button> -->
                        <table class="table table-striped ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th scope="col" class="custom-width-60" (click)="sorting('individual','no')">No <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('individual','nationality')">Nationality <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('individual','idtype')">ID type <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('individual','designation')">Designation <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('individual','age')">Age <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('individual','dob')">DOB <i class="fa fa-sort"
                                            aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('individual','members')">No. of family members <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('individual','socialStatus')">Social Status <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th scope="col" (click)="sorting('individual','familySecurity')">Family of social
                                        Security <i class="fa fa-sort" aria-hidden="true"></i></th>
                                </tr>
                            </thead>
                            <!-- *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'individual',data)"  -->
                            <!-- <input  [(ngModel)]="data.no"> -->
                            <tbody>
                                <tr *ngFor="let data of individualData | filter : searchText; index as index"
                                    (clickOutside)="enteredDetails( 'individual',data)">
                                    <td (dblclick)="data.isEdit = true">{{data.no}}</td>
                                    <!-- <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'individual',data)"><input [(ngModel)]="data.no"></td> -->
                                    <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">{{data.nationality}}</td>
                                    <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'individual',data)">
                                        <input [(ngModel)]="data.nationality"></td>
                                    <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">
                                        {{data.idtype}} </td>
                                    <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'individual',data)">
                                        <input [(ngModel)]="data.idtype"></td>
                                    <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">
                                        {{data.designation}}</td>
                                    <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'individual',data)">
                                        <input [(ngModel)]="data.designation"></td>
                                    <th *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">{{data.age}}
                                    </th>
                                    <th *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'individual',data)">
                                        <input [(ngModel)]="data.age"></th>
                                    <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">
                                        {{data.dob}}</td>
                                    <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'individual',data)">
                                        <input [(ngModel)]="data.dob"></td>
                                    <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">{{data.members}}
                                    </td>
                                    <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'individual',data)">
                                        <input [(ngModel)]="data.socialStatus"></td>
                                    <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">{{data.socialStatus}}
                                    </td>
                                    <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'individual',data)">
                                        <input [(ngModel)]="data.familySecurity"></td>
                                    <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">{{data.familySecurity}}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
            <div class="col-md-12 px-4 ">
                <p class="bg-light border rounded p-2 fs-14 w-120 text-center">Attachments</p>
                <p class=" border p-2 fs-14 w-120 rounded sky-blue-bg text-white text-center">Documents (1)
                </p>
            </div>
        </div> -->
            <div class="row">
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious>Previous</button>
                    <button type="button" class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        matStepperNext>Next</button>
                    <!-- <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                (click)="move(6)">Finish</button> -->
                    <button type="button" class="btn btn-warning px-3 mx-1 py-2  fs-14 mb-2" (click)="saveDraft()">Save
                        as
                        Draft</button>
                    <a href="/#/landing/supplier-registration/dashboard">
                        <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                    </a>
                </div>
            </div>
        </mat-step>
        <!-- Communication Methods -->
        <mat-step>
            <ng-template matStepLabel>Communication Methods</ng-template>

            <div class="row">
                <div class="col-md-12 px-4 mb-3 mt-3">
                    <div class="table-responsive">
                        <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">
                        <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('communication')"><i
                                class="fa fa-plus" aria-hidden="true"></i></button>
                        <table class="table table-striped mb-0 ">
                            <thead>
                                <tr class="purple-bg text-white">
                                    <th scope="col" class="custom-width-60" (click)="sorting('communication','no')">Comm
                                        ID <i class="fa fa-sort" aria-hidden="true"></i> </th>
                                    <th scope="col" (click)="sorting('communication','method')">Communication Method <i
                                            class="fa fa-sort" aria-hidden="true"></i> </th>
                                    <th scope="col" (click)="sorting('communication','value')">Value <i
                                            class="fa fa-sort" aria-hidden="true"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of communicationData | filter : searchText; index as index"
                                    (clickOutside)="enteredDetails( 'communication',data)">
                                    <td>{{data.no}}</td>
                                    <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">{{data.method}}</td>
                                    <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'communication',data)">
                                        <input [(ngModel)]="data.method"></td>
                                    <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">{{data.value}}
                                    </td>
                                    <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'communication',data)">
                                        <input [(ngModel)]="data.value"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 px-4">
                    <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                    <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-5 px-4">
                    <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        matStepperPrevious>Previous</button>
                    <button type="button" class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                        matStepperNext>Next</button>
                    <!-- <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                (click)="move(6)">Finish</button> -->
                    <button type="button" class="btn btn-warning px-3 mx-1 py-2  fs-14 mb-2" (click)="saveDraft()">Save
                        as
                        Draft</button>
                    <a href="/#/landing/supplier-registration/dashboard">
                        <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                    </a>
                </div>
            </div>
        </mat-step>
        <!-- Commercial Info -->
        <mat-step>
            <ng-template matStepLabel>Commercial Info</ng-template>

            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab label="Activity Info">
                    <div class="row mt-3 mb-5">
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Registration Number</h5>
                            <p class="fs-14">{{formData.generalInfo.regNumber}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Registration Date</h5>
                            <p class="fs-14">{{formData.generalInfo.regDate}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Expiry Date </h5>
                            <p class="fs-14">{{formData.generalInfo.expDate}}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 px-4">
                            <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Activities</h5>
                            <p class="fs-14">{{formData.generalInfo.activities}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 px-4">
                            <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                            <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                matStepperPrevious>Previous</button>
                            <button type="button" class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                (click)="changeTab()">Next</button>
                            <!-- <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="move(6)">Finish</button> -->
                            <button type="button" class="btn btn-warning px-3 mx-1 py-2  fs-14 mb-2"
                                (click)="saveDraft()">Save as
                                Draft</button>
                            <a href="/#/landing/supplier-registration/dashboard">
                                <button type="button"
                                    class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                            </a>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Bank Details">
                    <div class="row ">
                        <div class="col-md-12 px-4 ">
                            <button class="btn btn-secondary ml-2 " (click)="open(bankModel)"><i class="fa fa-plus"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="shadow p-3 mb-5" *ngFor="let data of BankDetails">
                        <div class="row ">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Account</h5>
                                <p class="fs-14">{{data.bankAcc}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Name</h5>
                                <p class="fs-14">{{data.bankName}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Branch</h5>
                                <p class="fs-14">{{data.bankBranch}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4 ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Account holder name</h5>
                                <p class="fs-14">{{data.holderName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 px-4">
                            <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                            <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()">Previous</button>
                            <button type="button" class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                (click)="changeTab()">Next</button>
                            <!-- <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="move(6)">Finish</button> -->
                            <button type="button" class="btn btn-warning px-3 mx-1 py-2  fs-14 mb-2"
                                (click)="saveDraft()">Save as
                                Draft</button>
                            <a href="/#/landing/supplier-registration/dashboard">
                                <button type="button"
                                    class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                            </a>
                        </div>
                    </div>
                    <ng-template #bankModel let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Add Bank Detail</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form [formGroup]="bankform" (ngSubmit)="submitbank() ; modal.close('Save click')">
                            <div class="modal-body custom-modal-main">
                                <section class=" bg-white ">
                                    <div>
                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="form-group row mb-3">
                                                    <label for="bankAcc" class="col-sm-5 col-form-label">Bank
                                                        Account</label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="bankAcc" id="bankAcc" type="text"
                                                            class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.bankAcc.touched && bf.bankAcc.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.bankAcc.errors.required" class="col-sm-7">
                                                            *required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="bankName" class="col-sm-5 col-form-label">Bank
                                                        Name</label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="bankName" id="bankName" type="text"
                                                            class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.bankName.touched && bf.bankName.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.bankName.errors.required" class="col-sm-7">
                                                            *required</div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="bankBranch" class="col-sm-5 col-form-label">Bank Branch
                                                    </label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="bankBranch" id="bankBranch" type="text"
                                                            class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.bankBranch.touched && bf.bankBranch.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.bankBranch.errors.required" class="col-sm-7">
                                                            *required</div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="holderName" class="col-sm-5 col-form-label">Account
                                                        holder
                                                        name
                                                    </label>
                                                    <div class="col-sm-7">
                                                        <input formControlName="holderName" id="holderName" type="text"
                                                            class="form-control">
                                                    </div>
                                                    <div *ngIf="bf.holderName.touched && bf.holderName.invalid"
                                                        class="alert alert-danger">
                                                        <div *ngIf="bf.holderName.errors.required" class="col-sm-7">
                                                            *required</div>
                                                    </div>
                                                </div>

                                                <div class="row mt-5">
                                                    <div class="col-md-12 mb-5 px-4"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                    type="submit">Submit</button>
                                <button class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2" type="cancel"
                                    (click)="form.reset(); modal.close('Save click')">Cancel</button>

                            </div>
                        </form>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Other Info">
                    <div class="row">
                        <div class="col-md-12 px-4 mb-3 mt-3">
                            <div class="table-responsive">
                                <input class="fs-16 mb-2" [(ngModel)]="searchText" placeholder="Search text">
                                <!-- <button class="btn btn-secondary ml-2 float-right mb-2" (click)="addNewRow('other')"><i
                                    class="fa fa-plus" aria-hidden="true"></i></button> -->
                                <table class="table table-striped mb-0 ">
                                    <thead>
                                        <tr class="purple-bg text-white">
                                            <th scope="col">
                                                <div class="d-flex"> <span> <a class=" text-white fs-14"><i
                                                                class="fa fa-check"></i></a> </span> <span
                                                        class="ml-3 pl-1 "> <a class=" text-white fs-14"> <i
                                                                class="fa fa-ellipsis-v "></i>
                                                        </a> </span> </div>
                                            </th>
                                            <th scope="col" (click)="sorting('other','no')">No. <i class="fa fa-sort"
                                                    aria-hidden="true"></i></th>
                                            <th scope="col" (click)="sorting('other','name')">Label <i
                                                    class="fa fa-sort" aria-hidden="true"></i></th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of otherData | filter : searchText; index as index"
                                            (clickOutside)="enteredDetails( 'other',data)">
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault-1">
                                                    <span class="ml-2"> <a class=" text-blaack fs-14"><i
                                                                class="fa fa-ellipsis-v  "></i> </a></span> </div>
                                            </td>
                                            <td>{{data.no}}</td>
                                            <td *ngIf="!data.isEdit" (dblclick)="data.isEdit = true">{{data.name}}
                                            </td>
                                            <td *ngIf="data.isEdit" (keyup.enter)="enteredDetails( 'other',data)"><input
                                                    [(ngModel)]="data.name"></td>
                                            <td><a><input type="text" id="input" name="input"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 px-4">
                            <p class="dark-text-1 fs-14 font-weight-bold mb-0">Remarks / Notes</p>
                            <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-5 px-4">
                            <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="previousTab()">Previous</button>
                            <button type="button" class="btn btn-primary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                                (click)="submitRegistration()">Finish</button>
                            <!-- <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                        (click)="move(6)">Finish</button> -->
                            <button type="button" class="btn btn-warning px-3 mx-1 py-2  fs-14 mb-2"
                                (click)="saveDraft()">Save as
                                Draft</button>
                            <a href="/#/landing/supplier-registration/dashboard">
                                <button type="button"
                                    class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                            </a>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>


        </mat-step>
    </mat-horizontal-stepper>
</div>

<div *ngIf="completed">
    <section class=" bg-white">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-8 px-3 mt-5  mx-auto text-center ">
                    <p class="fs-22  text-black ">Supplier request for registration completed successfully. Your
                        request for registration ID is: 100080 <br />
                        Please use registration ID for tracking the status of registration through portal.<br />
                        You will receive confirmation Email shortly on your registered Email ID.<br />
                        <span class="font-weight-bold mt-3 d-block">Thank You</span> </p>
                    <a href="/#/landing/supplier-registration/dashboard">
                        <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Close</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>