<section>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb bg-white mb-0">
                <li class="breadcrumb-item"><a  href="/#/landing/supplier-registration/dashboard">E-Tendring</a></li>
                <li class="breadcrumb-item"><a  href="/#/landing/supplier-registration/dashboard">Tender Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Current Tenders </li>
            </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-grey-bg ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 ">
          <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Current Tenders </h2>
        </div>
      </div>
    </div>
</section>
<div class="row">
    <div class="col-md-12 px-4 mb-3 mt-3">
        <div class="table-responsive">

            <!-- <input class="fs-16 custom-height-35" [(ngModel)]="searchText" placeholder="Search text">

            <button class="btn btn-secondary ml-2 float-right mb-2" (click)="alertNoAdd()"  mat-raised-button
            matTooltip="Not Allowed to add details for Local entities"><i
                    class="fa fa-plus" aria-hidden="true"></i></button> -->
            <table class="table table-striped ">
                <thead>
                    <tr class="purple-bg text-white">
                        <th scope="col">a</th>
                        <th scope="col">b</th>
                        <th scope="col">c</th>
                        <th scope="col">d</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12 px-4  py-2">
        <p class="dark-text-1 fs-14 font-weight-bold mb-0">Details / Notes</p>
        <p class="dark-text-1 fs-14 ">Details Not Applicable</p>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12 mb-5 px-4">
        <button type="button" class="btn border px-3 py-2 mx-1 w-120 fs-14 mb-2" ><i class="fa fa-caret-left"></i> Previous</button>
        <button type="button" class="btn border  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2">Next
            <i class="fa fa-caret-right"></i></button>
        <button type="button" class="btn border   px-3 mx-1 py-2  fs-14 mb-2">Save
            as
            Draft</button>
        <a href="/#/landing/supplier-registration/dashboard">
            <button type="button" class="btn border   px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
        </a>

    </div>
</div>
