<div id="landing-sidebar" class="animated">
  <ul>
    <li [ngClass]="isSubmenu ? 'sub-menu-active' : ''">
      <a routerLinkActive="active" (click)="submenuFun()">
        <div class="iconblock">
          <img src="/assets/icons/down-up-white.svg" alt="">
        </div>
        RCA GENERAL INFO & LINKS
        <div class="arrow-img">
          <img src="/assets/icons/{{arrowimg}}.svg" alt="">
        </div>
        
      </a>
      <ul class="sub-menu" *ngIf="isSubmenu">
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item1
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item2
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item3
          </a>
        </li>
      </ul>
    </li>
    <li [ngClass]="isSubmenu ? 'sub-menu-active' : ''">
      <a routerLinkActive="active" (click)="submenuFun()">
        <div class="iconblock">
          <img src="/assets/icons/down-up-white.svg" alt="">
        </div>
        SUPPLIER REGISTRATION
        <div class="arrow-img">
          <img src="/assets/icons/{{arrowimg}}.svg" alt="">
        </div>
        
      </a>
      <ul class="sub-menu" *ngIf="isSubmenu">
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item1
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item2
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item3
          </a>
        </li>
      </ul>
    </li>
    <li [ngClass]="isSubmenu ? 'sub-menu-active' : ''">
      <a routerLinkActive="active" (click)="submenuFun()">
        <div class="iconblock">
          <img src="/assets/icons/down-up-white.svg" alt="">
        </div>
        TENDERING
        <div class="arrow-img">
          <img src="/assets/icons/{{arrowimg}}.svg" alt="">
        </div>
        
      </a>
      <ul class="sub-menu" *ngIf="isSubmenu">
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item1
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item2
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item3
          </a>
        </li>
      </ul>
    </li>
    <li [ngClass]="isSubmenu ? 'sub-menu-active' : ''">
      <a routerLinkActive="active" (click)="submenuFun()">
        <div class="iconblock">
          <img src="/assets/icons/down-up-white.svg" alt="">
        </div>
        ORDERS
        <div class="arrow-img">
          <img src="/assets/icons/{{arrowimg}}.svg" alt="">
        </div>
        
      </a>
      <ul class="sub-menu" *ngIf="isSubmenu">
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item1
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item2
          </a>
        </li>
        <li>
          <a>
            <div class="iconblock">
              <img src="/assets/icons/down-up-white.svg" alt="">
            </div>
            item3
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="#">
        <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div>
        LATE ORDERS
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="#">
        <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div>
        ORDER LINES TO CONFIRM
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="#">
        <div class="iconblock">
          <img src="/assets/icons/content-paste-white.svg" alt="">
        </div>
        REQUEST FOR ORDER QUOTATION
      </a>
    </li>
  </ul>
</div>