@import 'src/assets/scss/index.scss';

 
ul {
    background-color: $grey-light-color;
    li {
      list-style-type: none;
      a {
        color:$primary-blue;
        text-decoration: none
      }
    }
    li:hover {
     cursor: pointer;
    }
}

.btn-disabled-color-gray{
  background-color: $grey-light-color !important;
}


.btn:hover {    color: #000;    background-color: #c2c9ce;    border-color: #c2c9ce;}


::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #0279c1; 
}


::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #0279c1;
}
