@import 'src/assets/scss/index.scss';

ul {
    background-color: $grey-light-color;
    li {
      list-style-type: none;
      a {
        color:$primary-blue;
        text-decoration: none
      }
    }
    li:hover {
     cursor: pointer;
    }
}

