// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-corefs-primary: mat-palette($mat-indigo);
$ng-corefs-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-corefs-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-corefs-theme: mat-light-theme((color: (primary: $ng-corefs-primary,
      accent: $ng-corefs-accent,
      warn: $ng-corefs-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-corefs-theme);

@import "src/assets/scss/index.scss";


body {
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, sans-serif !important
}

.animated {
  animation-duration: 500ms;
}




.static-radio {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: relative;
  background: #FFF;
  z-index: 1;
}

.static-radio::before {
  position: absolute;
  left: -10px;
  content: '';
  width: 10px;
  height: 3px;
  background: #dee2e6;
  z-index: 0;
}

.static-radio::after {
  position: absolute;
  left: 18px;
  content: '';
  width: 10px;
  height: 3px;
  background: #dee2e6;
  z-index: 0;
}

.form-check-input:checked {
  background-color: #00b0f0;
  border-color: #00b0f0;
}

.card .card-link {
  color: #F00;
  text-decoration: underline
}



.tendering-secrtion a:hover {
  color: #cac3c3 !important;
}

.progress-main-custom .box1 {
  width: 10px;
  height: 10px;
}

.lsat-box-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #343a40;
}


/* CSS Document */

a {
  text-decoration: none;
  color: #a6a6a6 !important
}

a:hover {
  text-decoration: none !important;
  color: #873e8d !important;
  cursor: pointer;
}

a.active {
  text-decoration: none !important;
  color: #873e8d !important
}

.text-dark-grey {
  color: #726565
}

.text-red {
  color: red
}

.border-radius-5 {
  border-radius: 5px;
}

.fa-home:before {
  font-size: 22px;
}

.fa-th:before {
  font-size: 22px;
}

a.header-menu {
  padding: 17px 0px 14px 15px;
  display: inline-block;
}

a.header-menu:hover {
  background-color: #873e8d;
}

a.header-menu-2 {
  padding: 17px 15px 14px 13px;
  display: inline-block;
}

a.header-menu-2:hover {
  background-color: #873e8d;
}

button.close:focus {
  outline: none !important;
}

.purple-bg {
  background-color: #873e8d;
}

.red-bg {
  background-color: red !important;
  border-color: red !important;
}

.dark-grey-bg {
  background-color: #f2f2f2;
}

.sky-blue-bg {
  background-color: #1da8d2;
}

.background-purple-custom {
  background: #883f8e !important;
  background-color: #883f8e !important;
}
.background-purple {
  background-color: #883f8e;
}
.border-purple {
  border-color: #883f8e !important;
}

.color-white-text {
  color: white !important;
}

.dark-grey-bg-2 {
  background: #4b4a4d
}

.dark-grey-bg-3 {
  background: #666666
}

.dark-green-bg {
  background: #007e59
}

.dropdown-border-dark {
  border: 1px solid #000000;
}

.light-green-bg {
  background: #00d89e
}

.orange-bg {
  background: #ff5659
}

.btn-primary {
  color: #fff;
  background-color: #1da8d2;
  border-color: #1da8d2;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0279c1;
  border-color: #0279c1;
}

.min-height-220 {
  min-height: 220px;
}

.text-black {
  color: #000
}

.text-green {
  color: #27AE60;
}

.dark-text-1 {
  color: #696969
}


.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-30 {
  font-size: 30px;
}

.fs-40 {
  font-size: 40px;
}

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.h-40 {
  height: 40px !important
}

.w-50 {
  width: 50px !important;
}

.w-120 {
  width: 120px;
}

.w-140 {
  width: 140px;
}

.w-160 {
  width: 160px;
}

.w-170 {
  width: 170px;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  vertical-align: middle;
}

.sub-menu-active ul {
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-active ul.sub-menu {
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.modal-dialog {
  max-width: 700px !important;
}

.new-form-custom-1 .fs-14 {
  font-size: 14px !important;
}

.new-form-custom-1 .form-group {
  position: relative;
}

.new-form-custom-1 .alert-danger {
  color: red;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  width: 50%;
  left: 15px;
  padding: 0;
  font-size: 12px;
  top: 30px;
  font-weight: 300;
}

.custom-modal-main .form-group {
  position: relative;
}

.custom-modal-main .alert-danger {
  color: red;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  width: 50%;
  left: 0px;
  padding: 0;
  font-size: 12px;
  top: 30px;
  font-weight: 300;
}

.custom-min-vh-100 {
  min-height: 100vh;
}

.custom-height-35 {
  height: 35px;
}


.loader {
  position: absolute;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

.custom-tab-01 {

  .mat-stepper-horizontal-line {
    flex: inherit;
    width: 80px;
    min-width: auto;
  }
}

.mat-horizontal-stepper-header {
  height: auto !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-horizontal-stepper-header-container {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

// .mat-step-icon-selected{
//   background-color: #1da8d2 !important;
//     color: white !important;
// }
.mat-step-label-selected {
  color: #0279c1 !important;
  // background-color: #7cd6f16c !important;
  text-decoration: solid;
}


.mat-form-field-flex {
  background-color: rgba(255, 255, 255, 0) !important;
}

.mat-tab-body {
  overflow: inherit;
}

.mat-tab-body-content {
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden !important;
}

.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important;
}

.custom-drop-down-plus {
  position: absolute;
  top: 0;
  left: 200px;
}

.mat-tab-label-content {
  color: rgba(0, 0, 0, 0.87) !important;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #0279c1 !important;
}

.mat-step-header .mat-step-icon-state-edit {
  background-color: rgba(0, 0, 0, 0.54) !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #0279c1;
}
@media (max-width: 991px) {
  .custom-min-vh-100 {
    min-height: auto;
  }

  .mat-horizontal-stepper-header {
    height: auto !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mat-horizontal-stepper-header-container {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}


@media (width: 768px) {
  .mat-step-header {
    min-width: 200px;
  }
}

@media (max-width: 767px) {
  .modal-dialog {
    margin: 10px auto !important;
    max-width: 90% !important;
  }

  .new-form-custom-1 .alert-danger {
    top: 72px;
  }
}

@media (max-width: 600px) {
  .mat-step-header {
    width: 180px;
  }
}