<section class="container-fluid  mt-3">
    <div class="bg-white px-4">
        <mat-horizontal-stepper #stepper>
            <mat-step>
                <ng-template matStepLabel>Supplier Grade</ng-template>

                <section class=" bg-white">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-12 px-3">
                                <h3 class="  p-2 fs-22 text-black">Select Supplier</h3>
                            </div>
                        </div>
                        <div class="row mt-2 mt-md-5">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Commercial Registration No
                                </h5>
                                <input class="fs-14 border p-2 text-center w-140" value="1086391">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Supplier Name</h5>
                                <p class="fs-14">Elecroman LLC</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-4  px-4">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Commercial Registration Grade
                                </h5>
                                <p class="fs-14">First Grade </p>
                            </div>
                        </div>
                        <div class="row mt-2 mt-md-5">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-4  px-4">
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <div class="col-md-12 mb-5 px-4">
                        <button type="button"
                            class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Privious</button>
                        <button type="button" class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                            matStepperNext>Next</button>
                        <a href="/landing/supplier-registration/dashboard">
                            <button type="button"
                                class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                        </a>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Payment</ng-template>

                <section class=" bg-white">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-12 px-3">
                                <h3 class="  p-2 fs-22 text-black">Select Supplier</h3>
                            </div>
                        </div>
                        <div class="row mt-2 mt-md-5">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Commercial Registration No
                                </h5>
                                <input class="fs-14 border p-2 text-center w-140" value="1086391">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Supplier Name</h5>
                                <p class="fs-14">Elecroman LLC</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-4  px-4">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Commercial Registration Grade
                                </h5>
                                <p class="fs-14">First Grade </p>
                            </div>
                        </div>
                        <div class="row mt-2 mt-md-5">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-4  px-4">
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <div class="col-md-12 mb-5 px-4">
                        <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                            matStepperPrevious>Privious</button>
                        <button type="button" class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                            matStepperNext>Next</button>
                        <a href="/landing/supplier-registration/dashboard">
                            <button type="button"
                                class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                        </a>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Payment Gateway</ng-template>

                <section class=" bg-white">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-12 px-3">
                                <h3 class="  p-2 fs-22 text-black">Select Supplier</h3>
                            </div>
                        </div>
                        <div class="row mt-2 mt-md-5">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Commercial Registration No
                                </h5>
                                <input class="fs-14 border p-2 text-center w-140" value="1086391">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Supplier Name</h5>
                                <p class="fs-14">Elecroman LLC</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-4  px-4">
                                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Commercial Registration Grade
                                </h5>
                                <p class="fs-14">First Grade </p>
                            </div>
                        </div>
                        <div class="row mt-2 mt-md-5">
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 px-4  ">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-4  px-4">
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <div class="col-md-12 mb-5 px-4">
                        <button type="button" class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2"
                            matStepperPrevious>Privious</button>
                        <a href="/landing/supplier-registration/dashboard">
                            <button type="button" class="btn btn-primary  px-3 mx-1 py-2 w-120 fs-14 mb-2 mb-2"
                                matStepperNext>Next</button></a>
                        <a href="/landing/supplier-registration/dashboard">
                            <button type="button"
                                class="btn btn-secondary px-3 py-2 mx-1 w-120 fs-14 mb-2">Cancel</button>
                        </a>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>

</section>