<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb bg-white mb-0">
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/landing/supplier-registration/dashboard">Supplier
                            Collaboration </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile Update</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="dark-grey-bg ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class=" p-2 fs-30 text-black font-weight-bold mb-0 px-3">Profile Update</h2>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid  mt-3 px-4 bg-white" *ngIf="profileUpdateForm">
    <div class="row mt-2 mb-2 ml-2 mb-2" *ngIf="!isProfileUpdate">
        <button type="button" (click)="updateClick('profile')" class="btn btn-primary">Update</button>
    </div>

    <form [formGroup]="profileUpdateForm" (ngSubmit)="profileUpdateSubmit()">
        <div class="row mt-2 mb-2 ml-2 mb-2" *ngIf="isProfileUpdate">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="row mt-4 ml-2">
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Account 1</h5>
                <p class="fs-14" *ngIf="!isProfileUpdate">
                    {{ profileFormControl.bankAccount1.value }}</p>
                <input type="text" *ngIf="isProfileUpdate" formControlName="bankAccount1">
            </div>
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Bank Account 2</h5>
                <p class="fs-14 " *ngIf="!isProfileUpdate">
                    {{ profileFormControl.bankAccount2.value }}</p>
                <input type="text" *ngIf="isProfileUpdate" formControlName="bankAccount2">

            </div>
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Projects</h5>
                <p class="fs-14" *ngIf="!isProfileUpdate">{{ profileFormControl.projects.value }}
                </p>
                <input type="text" *ngIf="isProfileUpdate" formControlName="projects">
            </div>
        </div>
        <div class="row mt-4 ml-2">
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Address 1</h5>
                <p class="fs-14 " *ngIf="!isProfileUpdate">{{ profileFormControl.address1.value }}
                </p>
                <textarea type="text" *ngIf="isProfileUpdate" rows="5" formControlName="address1"></textarea>
            </div>
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Address 2</h5>
                <p class="fs-14" *ngIf="!isProfileUpdate">{{ profileFormControl.address2.value }}
                </p>
                <textarea type="text" *ngIf="isProfileUpdate" rows="5" formControlName="address2"></textarea>
            </div>
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Address 3</h5>
                <p class="fs-14 " *ngIf="!isProfileUpdate">{{ profileFormControl.address3.value }}
                </p>
                <textarea type="text" *ngIf="isProfileUpdate" rows="5" formControlName="address3"></textarea>
            </div>
        </div>
        <div class="row mt-4 ml-2">
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">E-mail</h5>
                <p class="fs-14" *ngIf="!isProfileUpdate">{{ profileFormControl.email.value }}</p>
                <input type="text" *ngIf="isProfileUpdate" formControlName="email">
            </div>
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Phone</h5>
                <p class="fs-14 " *ngIf="!isProfileUpdate">{{ profileFormControl.phone.value }}</p>
                <input type="text" *ngIf="isProfileUpdate" formControlName="phone">

            </div>
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Mobile</h5>
                <p class="fs-14" *ngIf="!isProfileUpdate">{{ profileFormControl.mobile.value }}</p>
                <input type="text" *ngIf="isProfileUpdate" formControlName="mobile">
            </div>
        </div>
        <div class="row mt-4 ml-2">
            <div class="col-md-4 mb-2 ">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">FAX</h5>
                <p class="fs-14 " *ngIf="!isProfileUpdate">{{ profileFormControl.fax.value }}</p>
                <input type="text" *ngIf="isProfileUpdate" formControlName="fax">
            </div>
            <div class="col-md-4 mb-2">
                <h5 class="fs-16 font-weight-bold text-black dark-text-1 ">Key Contact Person</h5>
                <p class="fs-14" *ngIf="!isProfileUpdate">
                    {{ profileFormControl.keyContactPerson.value }}
                </p>
                <input type="text" *ngIf="isProfileUpdate" formControlName="keyContactPerson">
            </div>

        </div>

    </form>
</section>