input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  input[readonly] {
    background: #dddddd; 
  }

  input.disabled-radio {
    pointer-events:none;
    opacity:0.9;
  }

.btn-purple{
  background-color: #873e8d !important;
  color: white !important;
}
.btn-purple:hover{
  background-color: #bf8ec3 !important;
  color: black !important;
}
.custom-a-style {
  color: white !important;
}
.custom-a-style:hover{
  color: black !important;
}